/*cabecero*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    /* font-family: "M PLUS Rounded 1c", sans-serif; */
    color: black;
}

.ubicacion {
    margin: 0;
    padding: 3px 0 !important;
    text-align: center;
    height: auto;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.brufas {
    font-family: "Sawarabi Mincho", serif;
    font-size: 20px;
    letter-spacing: 3px;
}

header {
    /*max-height: 120px; POR SI ACASO*/
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    background: #efefef;
}

.cabecero {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
}

.logo {
    max-width: 120px;
}

.seccion_busqueda {
    width: 30%;
    height: 100%;
}

.barra_busqueda {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search {
    width: 100%;
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.search > input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    /* background-color: #f3f3f4; */
    color: #0d0c22;
    transition: 0.3s ease;
}

.search>input::placeholder {
    color: #9e9ea7;
}

.search>input:focus,
.search>input:hover {
    outline: none;
    border-color: rgba(0, 48, 73, 0.4);
    background-color: #fff;
}
.resultBox {
    width: 100%;
    position: absolute;
    top: 38px;
    background: #fff;
}
.search.active .resultBox li{
    display: block;
}
.search.active .resultBox{
    opacity: 1;
    pointer-events: auto;
}
.search .resultBox{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
  }

.resultBox > li {
    margin: 0;
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}
.resultBox > li:hover{
    background: #efefef;
}
.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.botones {
    align-items: center;
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.icono-login {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px;
    text-decoration: none;
}

.carrito {
    background: transparent;
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    text-decoration: none;
}

.carrito:hover,
.icono-login:hover {
    transform: scale(1.05);
    background: transparent;
}

/*ESTILOS NUEVOS PARA EL CARRITO*/
.icon-cart {
    width: 30px;
    height: 30px;
    stroke: black;
}

.icon-cart:hover {
    cursor: pointer;
}

.icon-close {
    width: 25px;
    height: 25px;
}

.icon-close:hover {
    stroke: red;
    cursor: pointer;
}

.container-icon {
    position: relative;
}

.count-products {
    position: absolute;
    top: 65%;
    right: 1;

    background-color: black;
    color: white;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.count-products span {
    color: white;
}

#contador-productos {
    font-size: 10px;
}
.container-cart-products{    
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    width: 450px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px; 
    max-height: 400px;
    overflow: auto;
}

.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);    
}
.info-cart-product{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
    flex: 0.8;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 15px;
}

.titulo-producto-carrito {
    font-size: 15px;
}

.precio-producto-carrito {
    font-weight: 700;
    font-size: 15px;
    margin-left: 10px;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3 {
    font-size: 15px;
    font-weight: 700;
}

.total-pagar {
    font-size: 15px;
    font-weight: 900;
}

.hidden-cart {
    display: none;
}

.cart-empty {
    padding: 15px;
    text-align: center;
}
.btn-decrease-quantity, .btn-increase-quantity {
    border: none;
    background-color: transparent;
    color: black;
    width: 15px;
    margin: auto;
    margin-right: 15px;
}
.btn-increase-quantity {
    margin-left: 15px;
    margin-right: 15px;
}
.btn-decrease-quantity:hover, .btn-increase-quantity:hover{
    border: none;
    background-color: transparent;
    color: black;
}