/*ID para la estructura*/
#almacenador{
    display: flex;
} 
/*Para los productos*/
.categoria{ 
    font-size: 30px; 
    font-weight: bold;
    margin-left: 280px;
    margin-bottom: 50px;
}
.contenido{
    display: flex;
    width: 85%;
    flex-wrap: wrap;
}
.caja{
    position: relative;
    padding: 10px;
    width: 220px;
    height: 310px;
    border: 1px solid black;
    border-radius: 15px;
    float: right;
    margin-left: 100px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;  
    overflow: hidden;  
    transition: all 0.3s ease;
}
.caja:hover {
    transform: scale(1.1) perspective(1000px) rotateX(10deg); /* Efecto 3D al hacer hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    transform-origin: center bottom;
}
/*Imagenes*/
.contenedor img{
    width: 92%;
    height: 60%; 
    object-fit: cover;
}
/*Nombre de productos*/
.nombre{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
/*Precio productos*/
.precio{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
/*Para modificar los simbolos (Home, Volver)*/
.material-icons {
    margin-right: 5px; /* Añade espacio entre el ícono y el texto */
    vertical-align: middle; /* Alinea verticalmente el ícono y el texto */
    font-size: 24px; /* Ajusta el tamaño del ícono */
}

/*Para la lista de cada categoria*/
a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}
a:hover {
    color: #007bff;
}
ul, li {
    list-style-type: none;
}
li{
    margin-right: 15px;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: left;
    margin-left: 18px;
}
.menu {
    width: 15%;    
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column;
    font-size: 20px;    
}
.menu li {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-color: transparent; /* Fondo blanco */
    padding: 15px; /* Añade espacio interno al elemento de la lista */
    border-radius: 5px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Transición suave de todos los estilos durante 0.3 segundos */
}
.menu li.active {
    border-left: 5px solid #007bff; /* Borde izquierdo para indicar la sección activa */
    padding-left: 10px; /* Añade espacio interno en el lado izquierdo del elemento activo */
    font-size: 22px; /* Aumenta el tamaño de la letra para la sección activa */
}
.menu li:hover {
    transform: scale(1.05); /* Aumenta el tamaño al hacer hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
}
/*Para los Combos de Ron*/
.caja_combo{
    padding: 10px;
    width: 350px;
    height: 480px;
    border: 1px solid black;
    border-radius: 15px;
    float: right;
    margin-left: 100px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;    
}
.combos img{
    width: 100%;
    height: 73%; 
    object-fit: cover;
}
/*Paginacion*/
.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 40px;
}

.pagina {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.pagina-actual {
    background-color: #eee;
    font-weight: bold;
}

