/*Pantallas pequeñas  */
@media (width <= 600px) { 
    #titulo {
        font-size: 30px;
    }
    h2 {
        font-size:  18px;
        margin-top: 10px;
        margin-left: 18px;
    }
    li {
        margin: 3px 30px 10px 10px;
    }
    .lista-contenedor{
        width: 100%;
        margin-top: 15px;
        margin-right: 5px;
        align-items: center;
        text-align: center;
        overflow: auto;
    }
    img.icono{        
        width: 30px;                
        margin: 0 auto;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .imagen{
        width: 25%;
        height: 25%;
        margin: 0 20px 20px 0;
    }
    .slide{
        margin-right: 2.5px;
    }
    .slide img {
        width: 95%;
        height: auto;
        object-fit: cover;
    }
    .paginationC {
        margin-top: 0;
    }
    .dotC {
        height: 8px;
        width: 8px;
        margin: 0 5px;
        cursor: pointer;
    }
    .slide-promotions img {
        width: 110%;
        height: auto;
    }
    .pagination {
        margin-top: 5px;
    }
    .dot {
        height: 8px;
        width: 8px;
        margin: 0 5px;
        cursor: pointer;
    }
    .promocionales
    {
        font-size: 15px;
        margin: 15px 15px;
        font-weight: bold;
    }
    .caja_productos{
        width: 40%;
        height: 220px;
        margin-bottom: 15px;
    }
    .caja_productos:hover{
        transform: none;
    }
    .contenedor_imagen img{
        width: auto;
        object-fit: cover;
    }
    .nombre{
        margin: 2px 0;
        font-weight: normal;
        font-size: 10px;
    }
    .precio{
        font-weight: 200px;
        font-size: 10px;
    }
    .see_button{
        margin-top: 5px;
        height: 25px;
        font-size: 12px;
    }
    .lista_productos{
        margin: 5px 0 5px;
        margin-bottom: 5px;
    }
    .lista_productos li a{
        font-size: 10px;
        margin: 0 auto;
        padding: 2px 5px !important;        
    }
}

/* Media Query para pantallas medianas */
@media (601px < width < 1024px) {
    #titulo {
        font-size: 40px;
    }
    h2 {
        font-size: 26px ;
        margin-left: 20px;
    }
    li {
        margin: 4px 50px 15px 20px;
    }
    .lista-contenedor{
        margin-top: 10px;
    }
    img.icono{        
        width: 40px;                
        margin: 0 auto;
        margin-top: 3.5px;
        margin-bottom: 3.5px;
    }
    .imagen{
        width: 25%;
        height: 25%;
        margin: 0 30px 30px 0;
    }
}

/* Media Query para pantallas grandes */
@media(width >= 1025px) {
    #titulo {
        font-size: 60px;
    }
    h2 {
        font-size: 35px ;
        margin-left: 25px;
    }
    li{
        margin: 5px 90px 20px 30px;
    }
    .lista-contenedor{
        margin-top: 15px;
    }
    img.icono{        
        width: 50px;                
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .imagen{
        width: 30%;
        height: 30%;
        margin: 0 35px 40px 0;
    }
}