<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
    <link rel="stylesheet" href="../css/estilos.css"/>
</head>
<body>
    <h2 class="categoria">Mascotas</h2>
    <div id="almacenador">
        <ul class="menu">
            <li>
                <a href="../index.html">
                    <i class="material-icons">home</i>Inicio
                </a>
            </li>
        </ul>
        
        <div class="contenido">
            <div class="caja contenedor">
                <img src="../IMAGENES/Mascotas/MiMaskot450gr.jpeg" alt="Mi Maskot 450gr">
                <p class="nombre">Mi Maskot Adultos Sabor Carne 450gr</p>
                <p class="precio">S/ 4.00</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Mascotas/Nutrican450gr.jpeg" alt="Nutrican 450gr">
                <p class="nombre">Nutrican Adultos Sabor Carne e Hígado 450gr</p>
                <p class="precio">S/ 3.00</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Mascotas/ThorCarne.jpeg" alt="Thor Carne 330gr">
                <p class="nombre">Thor Paté Sabor Carne 330gr</p>
                <p class="precio">S/ 5.00</p>
            </div>

            <div class="caja contenedor">
                <img src="../IMAGENES/Mascotas/ThorPollo.jpeg" alt="Thor Pollo 330gr">
                <p class="nombre">Thor Paté Sabor Pollo 330gr</p>
                <p class="precio">S/ 5.00</p>
            </div>
        </div>
    </div>
</body>
</html>
