<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <h2 class="categoria">Mascotas</h2>
    <div id="almacenador">

        <div class="almacenadorDD">
            <input type="checkbox" id="dropdown">

            <label class="dropdown__face" for="dropdown">
                <div class="dropdown__text">Bebidas Alcohólicas</div>
            
                <div class="dropdown__arrow"></div>
            </label>
            
            <ul class="menu dropdown__items">
                <li class="active">
                    Mascotas
                </li>
                <li>
                    <a href="#" ruta="">
                        <i class="material-icons">home</i>Inicio
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="contenido">
            <div class="caja contenedor">
                <img src="./IMAGENES/Mascotas/MiMaskot450gr.webp" alt="Mi Maskot 450gr">
                <h2 class="nombre">Mi Maskot Adultos Sabor Carne 450gr</h2>
                <p class="precio">S/ 4.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Mascotas/Nutrican450gr.webp" alt="Nutrican 450gr">
                <h2 class="nombre">Nutrican Adultos Sabor Carne e Hígado 450gr</h2>
                <p class="precio">S/ 3.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Mascotas/ThorCarne.webp" alt="Thor Carne 330gr">
                <h2 class="nombre">Thor Paté Sabor Carne 330gr</h2>
                <p class="precio">S/ 5.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src="./IMAGENES/Mascotas/ThorPollo.webp" alt="Thor Pollo 330gr">
                <h2 class="nombre">Thor Paté Sabor Pollo 330gr</h2>
                <p class="precio">S/ 5.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>

    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
