<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estilos.css"/>
</head>
<body>
    <h2 class="categoria"> Unidades </h2>
    
    <div id="almacenador"> 
        <ul class="menu">
            <li class="espacio">
                <a href="/index.html">
                    <i class="material-icons">home</i>Inicio
                </a>
            </li>
            <li class="espacio">
                <a href="#">Cervezas</a>
            </li>
            <li class="espacio">
                <a href="/Bebidas Alcoholicas/tragos.html">Ron</a>
            </li>
            <li class="espacio">
                <a href="/Bebidas Alcoholicas/whisky.html">Whisky</a>
            </li>
            <li class="espacio">
                <a href="/Bebidas Alcoholicas/pisco.html">Pisco</a>
            </li>
            <li class="espacio">
                <a href="/Bebidas Alcoholicas/vodka.html">Vodka</a>
            </li>
            <li class="espacio">
                <a href="/Bebidas Alcoholicas/vinos.html">Vinos</a>
            </li>
            <li class="espacio">
                <a href="/Bebidas Alcoholicas/LicoresVariados.html">Otros Licores</a>
            </li>
        </ul>

        <div class="contenido">
            <div class="caja contenedor">
                <img src="/IMAGENES/Cerveza/Cajas/Cristal1und.jpeg"/>
                <p class="nombre">Cerveza Cristal 1und </p>
                <p class="precio">S/ 6.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cerveza/Cajas/Pilsen1und.png"/>
                <p class="nombre">Cerveza Pilsen Caja 1und</p>
                <p class="precio">S/ 7.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cerveza/Cajas/CuzqueñaTrigo 1und.jpeg"/>
                <p class="nombre">Cerveza Cuzqueña Trigo 1und</p>
                <p class="precio">S/ 7.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cerveza/Cajas/CuzqueñaMalta 1und.jpeg"/>
                <p class="nombre">Cerveza Cuzqueña Malta 1und</p>
                <p class="precio">S/ 7.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cerveza/Cajas/Golden1und.png"/>
                <p class="nombre">Cerveza Golden 1und</p>
                <p class="precio">S/ 4.00</p>
            </div>
            
        </div>
    </div>

    <div class="paginacion">
        <a href="/Bebidas Alcoholicas/cervezas2.html">
            <i class="material-icons">chevron_left</i>
        </a>
        <a href="/Bebidas Alcoholicas/cervezas.html" class="pagina">1</a>
        <a href="/Bebidas Alcoholicas/cervezas2.html" class="pagina ">2</a>
        <a href="#" class="pagina pagina-actual">3</a>
    </div> 
</body>
    <script src= "../componentes.js"></script>
</html>
