<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
    <link rel="stylesheet" href="./css/cabecero.css"/>
    <link rel="stylesheet" href="./css/piecero.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>
    <h2 class="categoria"> Unidades </h2>
    
    <div id="almacenador"> 
        <ul class="menu">
            <li class="active">
                Bebidas Alcohólicas
            </li> 
            <li>
                <a href="#" ruta="">
                    <i class="material-icons">home</i>Inicio
                </a>
            </li>
            <li>
                <a href="#cervezas" ruta="Bebidas-Alcoholicas/cervezas.html">Cervezas</a>
            </li>
            <li>
                <a href="#Ron" ruta="/Bebidas-Alcoholicas/tragos.html">Ron</a>
            </li>
            <li>
                <a href="#Whiskys" ruta="/Bebidas-Alcoholicas/whisky.html">Whisky</a>
            </li>
            <li>
                <a href="#Pisco" ruta="/Bebidas-Alcoholicas/pisco.html">Pisco</a>
            </li>
            <li>
                <a href="#Vodka" ruta="/Bebidas-Alcoholicas/vodka.html">Vodka</a>
            </li>
            <li>
                <a href="#Vinos" ruta="/Bebidas-Alcoholicas/vinos.html">Vinos</a>
            </li>
            <li>
                <a href="#OtrosLicores" ruta="./Bebidas-Alcoholicas/LicoresVariados.html">Otros Licores</a>
            </li>
        </ul>

        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cerveza/Cajas/Cristal1und.jpeg"/>
                <h2 class="nombre">Cerveza Cristal 1und </h2>
                <p class="precio">S/ 6.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cerveza/Cajas/Pilsen1und.png"/>
                <h2 class="nombre">Cerveza Pilsen Caja 1und</h2>
                <p class="precio">S/ 7.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cerveza/Cajas/CuzqueñaTrigo 1und.jpeg"/>
                <h2 class="nombre">Cerveza Cuzqueña Trigo 1und</h2>
                <p class="precio">S/ 7.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cerveza/Cajas/CuzqueñaMalta 1und.jpeg"/>
                <h2 class="nombre">Cerveza Cuzqueña Malta 1und</h2>
                <p class="precio">S/ 7.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cerveza/Cajas/Golden1und.png"/>
                <h2 class="nombre">Cerveza Golden 1und</h2>
                <p class="precio">S/ 4.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            
        </div>
    </div>

    <div class="paginacion">
        <a href="#Cajas" ruta="/Bebidas-Alcoholicas/cervezas2.html">
            <i class="material-icons">chevron_left</i>
        </a>
        <a href="#Latas" ruta="/Bebidas-Alcoholicas/cervezas.html" class="pagina">1</a>
        <a href="#Cajas" ruta="/Bebidas-Alcoholicas/cervezas2.html" class="pagina ">2</a>
        <a href="#" ruta="" class="pagina pagina-actual">3</a>
    </div> 

    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
