<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <h2 class="categoria"> Latas </h2>
    
    <div id="almacenador"> 
        <div class="almacenadorDD">
            <input type="checkbox" id="dropdown">
 
            <label class="dropdown__face" for="dropdown">
                <div class="dropdown__text">Bebidas Alcohólicas</div>
            
                <div class="dropdown__arrow"></div>
            </label>
            
            <ul class="menu dropdown__items">
                <li class="active">
                    Bebidas Alcohólicas
                </li>
                <li >
                    <a href="#" ruta="">
                        <i class="material-icons">home</i>Inicio
                    </a>
                </li>
                <li>
                    <a href="#cervezas" ruta="Bebidas-Alcoholicas/cervezas.html">Cervezas</a>
                </li>
                <li>
                    <a href="#Ron" ruta="/Bebidas-Alcoholicas/tragos.html">Ron</a>
                </li>
                <li>
                    <a href="#Whiskys" ruta="/Bebidas-Alcoholicas/whisky.html">Whisky</a>
                </li>
                <li>
                    <a href="#Pisco" ruta="/Bebidas-Alcoholicas/pisco.html">Pisco</a>
                </li>
                <li>
                    <a href="#Vodka" ruta="/Bebidas-Alcoholicas/vodka.html">Vodka</a>
                </li>
                <li>
                    <a href="#Vinos" ruta="/Bebidas-Alcoholicas/vinos.html">Vinos</a>
                </li>
                <li>
                    <a href="#OtrosLicores" ruta="./Bebidas-Alcoholicas/LicoresVariados.html">Otros Licores</a>
                </li>
            </ul>
        </div>

        <div class="contenido">          
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/LataCampeona.webp"/>
                <h2 class="nombre">Cristal lata 473ml</h2>
                <p class="precio">S/ 4.50</p> 
                <button class="btn-add-cart add_button">Agregar</button>
            </div>  
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/GoldenLata.webp"/>
                <h2 class="nombre">Golden lata 355ml</h2>
                <p class="precio">S/ 3.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/lataPilsen.webp"/>
                <h2 class="nombre">Pilsen lata 355ml</h2>
                <p class="precio">S/ 4.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/lataCristal.webp"/>
                <h2 class="nombre">Cristal lata 355ml</h2>
                <p class="precio">S/ 3.50</p> 
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="clear"></div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/sanJuanlata.webp"/>
                <h2 class="nombre">San Juan lata 355ml</h2>
                <p class="precio">S/ 3.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/trigoLata.webp"/>
                <h2 class="nombre">Cuzqueña Trigo lata 355ml</h2>
                <p class="precio">S/ 4.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/maltaLata.webp"/>
                <h2 class="nombre">Cuzqueña Malta lata 355ml</h2>
                <p class="precio">S/ 4.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/Coronita1und.webp"/>
                <h2 class="nombre">Coronita Botella 210ml</h2>
                <p class="precio">S/ 3.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/Corona1und.webp"/>
                <h2 class="nombre">Corona Botella 330ml</h2>
                <p class="precio">S/ 5.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>            
            
            <!--Sixpacks-->
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/CristalCampeona.webp"/>
                <h2 class="nombre">Cristal Six Pack lata 473ml</h2>
                <p class="precio">S/ 25.00</p> 
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/goldenSixpac.webp"/>
                <h2 class="nombre">Golden Six Pack Lata 355ml</h2>
                <p class="precio">S/ 17.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/cristalSix.webp"/>
                <h2 class="nombre">Cristal Six Pack Lata 355ml</h2>
                <p class="precio">S/ 21.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/pilsenSix.webp"/>
                <h2 class="nombre">Pilsen Six Pack Lata 355ml</h2>
                <p class="precio">S/ 25.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/maltaSixPack.webp"/>
                <h2 class="nombre">Cuzqueña Malta Six Pack Lata 355ml</h2>
                <p class="precio">S/ 25.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/trigoSixpack.webp"/>
                <h2 class="nombre">Cuzqueña Trigo Six Pack Lata 355ml</h2>
                <p class="precio">S/ 25.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/SanJuanSix.webp"/>
                <h2 class="nombre">San Juan Six Pack Lata 355ml</h2>
                <p class="precio">S/ 21.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/CoronitaSixPack.webp"/>
                <h2 class="nombre">Coronita Six Pack Botella 210ml</h2>
                <p class="precio">S/ 18.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Cerveza/CoronaSixPack.webp"/>
                <h2 class="nombre">Corona Six Pack Botella 330ml</h2>
                <p class="precio">S/ 30.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>

    <div class="paginacion">
        <a href="#" ruta="" class="pagina pagina-actual">1</a>
        <a href="#Cajas" ruta="/Bebidas-Alcoholicas/cervezas2.html" class="pagina">2</a>
        <a href="#Unidades" ruta="/Bebidas-Alcoholicas/cervezas3.html" class="pagina">3</a>
        <a href="#Cajas" ruta="/Bebidas-Alcoholicas/cervezas2.html">
            <i class="material-icons">chevron_right</i>
        </a>
    </div>
</body>    
</html>