<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combos</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
    <link rel="stylesheet" href="./css/cabecero.css"/>
    <link rel="stylesheet" href="./css/piecero.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />    
</head>
<body>
    <h2 class="categoria">Combos</h2>
    
    <div id="almacenador">

        <div class="almacenadorDD">
            <input type="checkbox" id="dropdown">

            <label class="dropdown__face" for="dropdown">
                <div class="dropdown__text">Bebidas Alcohólicas</div>
            
                <div class="dropdown__arrow"></div>
            </label>
            
            <ul class="menu dropdown__items">
                <li class="active"> 
                    Combos Rones
                </li>
                <li>
                    <a href="#Cervezas" ruta="/Bebidas-Alcoholicas/cervezas.html">
                        <i class="material-icons">home</i>Inicio
                    </a>
                </li>
                <li>
                    <a href="#Rones" ruta="/Bebidas-Alcoholicas/tragos.html">
                        <i class="material-icons"> arrow_back</i>Volver
                    </a>                
                </li>
            </ul>
        </div>

        <div class="contenido">
            
            <div class="caja_combo combos">
                <img src= "./IMAGENES/Tragos/Combos/ComboChapero.webp" alt="Combo Chapero Captain Morgan">
                <h2 class="nombre">Combo Ron Capitán Morgan + Coca Cola 2.5L + Hielo 1kg + Jugo De Naranja Gloria</h2>
                <p class="precio">S/ 55.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja_combo combos">
                <img src= "./IMAGENES/Tragos/Combos/ComboCartavio.webp" alt="Combo Chapero Cartavio Black">
                <h2 class="nombre">Combo Ron Cartavio Black 1L + Coca Cola 2.5L + Hielo 1kg + Jugo De Naranja Gloria</h2>
                <p class="precio">S/ 47.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja_combo combos">
                <img src= "./IMAGENES/Tragos/Combos/ComboRonSelecto8anios.webp" alt="Combo Chapero Selecto 8 Años">
                <h2 class="nombre">Combo Ron Selecto 8 años + Coca Cola 2.5L + Hielo 1kg + Jugo De Naranja Gloria</h2>
                <p class="precio">S/ 56.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja_combo combos">
                <img src= "./IMAGENES/Tragos/Combos/ComboSelecto5anios.webp" alt="Combo Chapero Selecto 5 Años">
                <h2 class="nombre">Combo Ron Selecto 5 años + Coca Cola 2.5L + Hielo 1kg + Jugo De Naranja Gloria</h2>
                <p class="precio">S/ 48.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div> 

            <div class="caja_combo combos">
                <img src= "./IMAGENES/Tragos/Combos/ComboFlorDeCaña5años.webp" alt="Combo Chapero Flor de caña 5 años">
                <h2 class="nombre">Combo Ron Flor de Caña 5 años + Coca Cola 2.5L + Hielo 1kg + Jugo De Naranja Gloria</h2>
                <p class="precio">S/ 75.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja_combo combos">
                <img src= "./IMAGENES/Tragos/Combos/ComboFlorDeCaña4años.webp" alt="Combo Chapero Flor de Caña 4 años">
                <h2 class="nombre">Combo Ron Flor de Caña 4 años + Coca Cola 2.5L + Hielo 1kg + Jugo De Naranja Gloria</h2>
                <p class="precio">S/ 65.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja_combo combos">
                <img src= "./IMAGENES/Tragos/Combos/ComboHavanaClub.webp" alt="Combo Chapero Havana Club">
                <h2 class="nombre">Combo Ron Havana Club + Coca Cola 2.5L + Hielo 1kg + Jugo De Naranja Gloria</h2>
                <p class="precio">S/ 54.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>

    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
