<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Licores Variados</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <h2 class="categoria">Otros Licores</h2>

    <div id="almacenador">
        <ul class="menu">
             <li>
                <a href="#Cervezas" ruta="/Bebidas-Alcoholicas/cervezas.html"> 
                    <i class="material-icons">arrow_back</i> Volver
                </a>
            </li>
        </ul>
        <div class="contenido">
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Variados/Jagermeister.png" alt="Jagermeister" title="Jagermeister"/>
                <p class="nombre"> Jagermeister 700ml</p>
                <p class="precio"> S/ 75.00</p>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Variados/Baileys.png" alt="Baileys" title="Baileys"/>
                <p class="nombre"> Licor de Cream Baileys 750ml</p>
                <p class="precio"> S/ 78.00</p>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Variados/Sheridans.png" alt="Sheridans" title="Sheridans"/>
                <p class="nombre"> Sheridan's Licor de Cafe</p>
                <p class="precio"> S/ 100.00</p>
            </div>
            
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Variados/FourLoko.jpeg" alt="Four Loko" title="Four Loko"/>
                <p class="nombre"> Four Loko Gold 473ml</p>
                <p class="precio"> S/ 10.00</p>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Variados/Mikes.jpeg" alt="Mikes Lemonade" title="Mikes Lemonade"/>
                <p class="nombre"> Mike's Lemonade 355ml</p>
                <p class="precio"> S/ 6.00</p>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Variados/BeefeterPink.png" alt="Beefeter Pink" title="Beefeter Pink"/>
                <p class="nombre"> Gin Beefeter Pink 700ml</p>
                <p class="precio"> S/ .00</p>
            </div>
            
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Variados/WildApple.jpeg" alt="Beefeter Pink" title="Beefeter Pink"/>
                <p class="nombre"> Wild Fresh Apple 355ml</p>
                <p class="precio"> S/ 5.00</p>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Variados/WildOrange.jpeg" alt="Beefeter Pink" title="Beefeter Pink"/>
                <p class="nombre"> Wild Tropical Orange 355ml</p>
                <p class="precio"> S/ 5.00</p>
            </div>
        </div>
    </div>
</body>
    <script src= "../componentes.js"></script> 
</html>
