<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pisco</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <h2 class="categoria">Piscos</h2>
    <div id="almacenador">
        <ul class="menu" >
            <li class="active">
                Piscos
            </li>
            <a href="#Cervezas" ruta="/Bebidas-Alcoholicas/cervezas.html"> 
                <i class="material-icons">arrow_back</i> Volver
            </a>
        </ul>
        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/Pisco/piscoPuroQuebranta.png" alt="pisco Quebranta" title="Pisco Quebranta"/>
                <h2 class="nombre"> Pisco Puro Quebranta</h2>
                <p class="precio"> S/ 32.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/Pisco/piscoAcholado.png" alt="pisco Acholado" title="Pisco Acholado"/>
                <h2 class="nombre"> Pisco Acholado</h2>
                <p class="precio"> S/ 32.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>
    
    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
