<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tragos</title>
    <link rel="stylesheet" href="./css/estilos.css"/>   
</head>
<body>
    <h2 class="categoria">Ron</h2>
    <div id="almacenador">
        <ul class="menu"> 
            <li class="active">
                Ron
            </li>
            <li>
                <a href="#Cervezas" ruta="/Bebidas-Alcoholicas/cervezas.html"> 
                    <i class="material-icons">arrow_back</i>Volver
                </a>
            </li>
            <li>
                <a href="#Combos" ruta="/Bebidas-Alcoholicas/combos.html">Combos</a>
            </li>
        </ul>
        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/CAPTAIN MORGAN.png" alt="Capitan Morgan">
                <p class="nombre">Capitan Morgan 700ml</p>
                <p class="precio">S/ 37.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/FLOR DE CAÑA 4 AÑOS.png" alt="Flor de Caña 4 años">
                <p class="nombre">Flor de Caña 4 años 700ml</p>
                <p class="precio">S/ 46.50</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/Flor5anios.png" alt="Flor de Caña 5 años">
                <p class="nombre">Flor de Caña 5 años 700ml</p>
                <p class="precio">S/ 57.00</p>
            </div>
            <div class="clear"></div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/HAVANACLUB750.png" alt="Havana Club">
                <p class="nombre">Havana Club 750ml - 1L</p>
                <p class="precio">S/ 36.00 - S/ 46.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/Caldas3.png" alt="Caldas 3 Años" title="Ron de Caldas 3 años">
                <p class="nombre">Ron de Caldas 3 años</p>
                <p class="precio">S/ 33.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/caldas5.png" alt="Caldas 5 Años" title="Ron de Caldas 5 años">
                <p class="nombre">Ron de Caldas 5 años</p>
                <p class="precio">S/ 41.00</p>
            </div>
            <div class="clear"></div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/caldas8.png" alt="Caldas 8 Años" title="Ron de Caldas 8 años">
                <p class="nombre">Ron de Caldas 8 años</p>
                <p class="precio">S/ 60.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/caboBlanco.png" alt="Cabo Blanco" title="Cabo Blanco">
                <p class="nombre">Cabo Blanco</p>
                <p class="precio">S/ 17.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/BlackBarrel.png" alt="Black Barrel" title="Black Barrel">
                <p class="nombre">Black Barrel 1L</p>
                <p class="precio">S/ 30.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/RON SELECTO 5AÑOS.png" alt="Selecto 5 Años" title="Ron selecto 5 años">
                <p class="nombre">Ron Selecto 5 años</p>
                <p class="precio">S/ 30.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/RON SELECTO 8AÑOS.png" alt="Selecto 8 Años" title="Ron selecto 8 años">
                <p class="nombre">Ron Selecto 8 años</p>
                <p class="precio">S/ 38.00</p>
            </div>            
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/Ron cartavio.png" alt="Cartavio Black" title="Ron Cartavio Black 1L">
                <p class="nombre">Ron Cartavio Black-Superior-Blanco 1L</p>
                <p class="precio">S/ 29.00</p>
            </div>            
        </div>
    </div>
</body>
    <script src= "../componentes.js"></script>
</html>
