<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tragos</title>
    <link rel="stylesheet" href="./css/estilos.css"/>   
</head>
<body>
    <h2 class="categoria">Ron</h2>
    <div id="almacenador">
        <ul class="menu"> 
            <li class="active">
                Ron
            </li>
            <li>
                <a href="#Cervezas" ruta="/Bebidas-Alcoholicas/cervezas.html"> 
                    <i class="material-icons">arrow_back</i>Volver
                </a>
            </li>
            <li>
                <a href="#Combos" ruta="/Bebidas-Alcoholicas/combos.html">Combos</a>
            </li>
        </ul>
        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/CaptainMorgan.webp" alt="Capitan Morgan">
                <h2 class="nombre">Capitan Morgan 700ml</h2>
                <p class="precio">S/ 37.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/FlorDeCaña4Años.webp" alt="Flor de Caña 4 años">
                <h2 class="nombre">Flor de Caña 4 años 700ml</h2>
                <p class="precio">S/ 46.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/Flor5anios.webp" alt="Flor de Caña 5 años">
                <h2 class="nombre">Flor de Caña 5 años 700ml</h2>
                <p class="precio">S/ 57.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="clear"></div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/HAVANACLUB750.webp" alt="Havana Club">
                <h2 class="nombre">Havana Club 750ml</h2>
                <p class="precio">S/ 36.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/HAVANACLUB1L.webp" alt="Havana Club">
                <h2 class="nombre">Havana Club 1L</h2>
                <p class="precio">S/ 46.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/Caldas3.webp" alt="Caldas 3 Años" title="Ron de Caldas 3 años">
                <h2 class="nombre">Ron de Caldas 3 años</h2>
                <p class="precio">S/ 33.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/caldas5.webp" alt="Caldas 5 Años" title="Ron de Caldas 5 años">
                <h2 class="nombre">Ron de Caldas 5 años</h2>
                <p class="precio">S/ 41.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="clear"></div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/caldas8.webp" alt="Caldas 8 Años" title="Ron de Caldas 8 años">
                <h2 class="nombre">Ron de Caldas 8 años</h2>
                <p class="precio">S/ 60.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/caboBlanco.webp" alt="Cabo Blanco" title="Cabo Blanco">
                <h2 class="nombre">Cabo Blanco</h2>
                <p class="precio">S/ 17.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/BlackBarrel.webp" alt="Black Barrel" title="Black Barrel">
                <h2 class="nombre">Black Barrel 1L</h2>
                <p class="precio">S/ 30.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/RonSelecto5Años.webp" alt="Selecto 5 Años" title="Ron selecto 5 años">
                <h2 class="nombre">Ron Selecto 5 años</h2>
                <p class="precio">S/ 30.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/RonSelecto8Años.webp" alt="Selecto 8 Años" title="Ron selecto 8 años">
                <h2 class="nombre">Ron Selecto 8 años</h2>
                <p class="precio">S/ 38.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>            
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/CartavioBlack1L.webp" alt="Cartavio Black" title="Ron Cartavio Black 1L">
                <h2 class="nombre">Ron Cartavio Black 1L</h2>
                <p class="precio">S/ 29.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/CartavioBlanco1L.webp" alt="Cartavio Blanco" title="Ron Cartavio Blanco 1L">
                <h2 class="nombre">Ron Cartavio Blanco 1L</h2>
                <p class="precio">S/ 29.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>         
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/CartavioSuperior1L.webp" alt="Cartavio Superior" title="Ron Cartavio Superior 1L">
                <h2 class="nombre">Ron Cartavio Superior 1L</h2>
                <p class="precio">S/ 29.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>                     
        </div>
    </div>

    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
