<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinos</title>
    <link rel="stylesheet" href="./css/estilos.css"/> 
</head>
<body>
    <h2 class="categoria">Vinos</h2>
    <div id="almacenador">
        <ul class="menu">
            <li class="active">
                Vinos
            </li>
            <li>
                <a href="#Cervezas" ruta="/Bebidas-Alcoholicas/cervezas.html"> 
                    <i class="material-icons">arrow_back</i> Volver
                </a>
            </li>
        </ul>
        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/Vinos/TaberneroBorgonia.webp" alt="Vino Tabernero Borgoña" title="Vino Tabernero Borgoña">
                <h2 class="nombre">Vino Tabernero Borgoña</h2>
                <p class="precio">S/ 18.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/Vinos/TaberneroGranRose.webp" alt="Vino Tabernero Gran Rose" title="Vino Tabernero Gran Rose">
                <h2 class="nombre">Vino Tabernero Gran Rose</h2>
                <p class="precio">S/ 18.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/Vinos/SangriaTabernero.webp" alt="Sangria Tabernero 1L" title="Sangria Tabernero 1L">
                <h2 class="nombre">Sangria Tabernero 1L</h2>
                <p class="precio">S/ 15.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>

    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
