<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vodka</title>
    <link rel="stylesheet" href="/css/estilos.css"/>
</head>
<body>
    <h2 class="categoria">Vodka</h2>    
    <div id="almacenador">
        <ul class="menu">
            <li class="espacio">
                <a href="/Bebidas Alcoholicas/cervezas.html"> 
                    <i class="material-icons">arrow_back</i> Volver
                </a>
            </li>
        </ul>

        <div class="contenido">
            
            <div class="caja contenedor">
                <img src="/IMAGENES/Tragos/Vodka/Russkaya1L.png" alt="Russkaya 1L" title="Russkaya 1L"/>
                <p class="nombre">Russkaya 1L</p>
                <p class="precio">S/ 26.00</p>                
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Tragos/Vodka/AbsoluteVodka.png" alt="Absolute Vodka" title="Absolute Vodka"/>
                <p class="nombre">Absolute Vodka</p>
                <p class="precio">S/ 51.00</p>                
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Tragos/Vodka/Smirnoff.png" alt="Smirnoff" title="Smirnoff"/>
                <p class="nombre">Smirnoff</p>
                <p class="precio">S/ 28.00</p>                
            </div>
        </div>
    </div>
</body>
    <script src= "../componentes.js"></script>
</html>
