<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vodka</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <h2 class="categoria">Vodka</h2>    
    <div id="almacenador">
        <ul class="menu">
            <li class="active">
                Vodka
            </li>
            <li>
                <a href="#Cervezas" ruta="/Bebidas-Alcoholicas/cervezas.html"> 
                    <i class="material-icons">arrow_back</i> Volver
                </a>
            </li>
        </ul>

        <div class="contenido">
            
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/Vodka/Russkaya1L.png" alt="Russkaya 1L" title="Russkaya 1L"/>
                <h2 class="nombre">Russkaya 1L</h2>
                <p class="precio">S/ 26.00</p>                
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/Vodka/AbsoluteVodka.png" alt="Absolute Vodka" title="Absolute Vodka"/>
                <h2 class="nombre">Absolute Vodka</h2>
                <p class="precio">S/ 51.00</p>                
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Tragos/Vodka/Smirnoff.png" alt="Smirnoff" title="Smirnoff"/>
                <h2 class="nombre">Smirnoff</h2>
                <p class="precio">S/ 28.00</p>                
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>
    
    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
