<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisky</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <h2 class="categoria">Whisky</h2>
    <div id="almacenador">
        <ul class="menu">
            <a href="#Cervezas" ruta="/Bebidas-Alcoholicas/cervezas.html"> 
                <i class="material-icons">arrow_back</i> Volver
            </a>
        </ul>
        <div class="contenido">
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Whisky/OldTimeRed.png" alt="OldTimeRed" title="OldTimeRed"/>
                <p class="nombre"> Old Times Red</p>
                <p class="precio"> S/ 24.00</p>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Whisky/Ballantines.png" alt="Ballantines" title="Ballantines"/>
                <p class="nombre"> Ballantines</p>
                <p class="precio"> S/ 53.00</p>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Whisky/CAJA SOMETHING SPECIAL.jpg" alt="Something Special" title="Something Special"/>
                <p class="nombre"> Something Special</p>
                <p class="precio"> S/ 55.00</p>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Whisky/Chivas12Years.png" alt="Chivas Regal 12 años" title="Chivas Regal 12 años"/>
                <p class="nombre"> Chivas Regal 12 años</p>
                <p class="precio"> S/ 100.00</p>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Whisky/Chivas13Years.png" alt="Chivas Regal 13 años" title="Chivas Regal 13 años"/>
                <p class="nombre"> Chivas Regal 13 años</p>
                <p class="precio"> S/ 110.00</p>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Whisky/JWalkerRedLabel.png" alt="Johnnie Walker Red Label" title="Johnnie Walker Red Label"/>
                <p class="nombre"> Johnnie Walker Red Label</p>
                <p class="precio"> S/ 55.00</p>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Whisky/JWalkerBlackLabel.png" alt="Johnnie Walker Black Label" title="Johnnie Walker Black Label"/>
                <p class="nombre"> Johnnie Walker Black Label</p>
                <p class="precio"> S/ 125.00</p>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Whisky/JWalkerDoubleBlackLabel.png" alt="Johnnie Walker Double Black Label" title="Johnnie Walker Double Black Label"/>
                <p class="nombre"> Johnnie Walker Double Black Label</p>
                <p class="precio"> S/ 150.00</p>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Tragos/Whisky/JWalkerGoldLabel.png" alt="Johnnie Walker Gold Label" title="Johnnie Walker Gold Label"/>
                <p class="nombre"> Johnnie Walker Gold Label</p>
                <p class="precio"> S/ 245.00</p>
            </div>
        </div>
    </div>
</body>
    <script src= "../componentes.js"></script>
</html>
