<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utiles</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../css/estilos.css"/>
    <link rel="stylesheet" href="../css/piecero.css"/>
    <link rel="stylesheet" href="../css/cabecero.css"/>
</head>
<body>
    <header>
        <div class="ubicacion">
            <p>Vísitanos en la Távara 1161</p>
        </div>
        <div class="cabecero">
            <h1 id="titulo"> 
                <a href="../index.html">Multiservicios Brufas</a> 
            </h1>
            <a href="../Login/login.html" class="icono-login">
                <i class="material-icons">account_circle</i>
                  Iniciar sesión
            </a>
            <a href="#" class="carrito">
                <i class="material-icons">shopping_cart</i>
            </a>
        </div> 
    </header>

    <div id="almacenador">
        <ul class="menu">
            <li>
                <a href="../index.html">
                    <i class="material-icons">home</i>Inicio
                </a>
            </li>
        </ul>

        <div class="contenido">
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/LapicesColoresGrandesOval.png" alt="Lapices de Colores grandes OVAL">
                <p class="nombre">Lapices De Colores Grandes Oval 12und</p>
                <p class="precio">S/ 0.00</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/LapizGrafitoArtesco.png" alt="Lapiz Grafito ARTESCO">
                <p class="nombre">Lápiz Grafito ARTESCO 1und</p>
                <p class="precio">S/ 0.60</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/MiniResaltadoresArtesc.jpeg" alt="Mini Resaltadores Artesco">
                <p class="nombre">Mini Resaltadores ARTESCO 1und</p>
                <p class="precio">S/ 2.50</p>
            </div>
            
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/Corrector.png" alt="Corrector">
                <p class="nombre">Lápiz Corrector TOYO 7ml</p>
                <p class="precio">S/ 2.00</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/CrayonesJumboLayconsa.png" alt="Crayones Jumbo Layconsa">
                <p class="nombre">Crayones Jumbo LAYCONSA 6und</p>
                <p class="precio">S/ 0.00</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/Sikura.png" alt="Sikura Mentol">
                <p class="nombre">Mentol SIKURA 10gr</p>
                <p class="precio">S/ 0.00</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/Naipes.png" alt="Bararja de Naipes">
                <p class="nombre">Bararja de Naipes REY</p>
                <p class="precio">S/ 0.00</p>
            </div>

            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/PilasAA.png" alt="Pilas Doble A Panasonic">
                <p class="nombre">Pilas AA PANASONIC</p>
                <p class="precio">S/ 0.00</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/PilasAAA.png" alt="Pilas Triple A Panasonic">
                <p class="nombre">Pilas AAA PANASONIC</p>
                <p class="precio">S/ 0.00</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/" alt="Lapiceros Escarchados NAYRAS COLOR">
                <p class="nombre">Lapiceros Escarchados NAYRAS 12und</p>
                <p class="precio">S/ 7.00</p>
            </div>
        </div>
    </div>

    <div class="paginacion">
        <a href="../Utiles/utiles.html">
            <i class="material-icons">chevron_left</i>
        </a>
        <a href="../Utiles/utiles.html" class="pagina">1</a>
        <a href="#" class="pagina pagina-actual ">2</a>
    </div>

    <footer class="pie">
        <div class="menu_pie">
            <img class="logo_pie" src="../IMAGENES/LOGO.png" alt="logo Brufas"/>
        </div>
        <div class="menu_pie">
          <h3>Conócenos</h3> 
          <a href="../mapa.html" target="_blank">Nuestra Ubicación</a> <br/> 
          <a href="#">Quiénes Somos</a> 
        </div>
        <div class="menu_pie">
            <h3>Redes Sociales</h3> 
            <a href="#">Instagram</a> <br/>
            <a href="#">Facebook</a> 
        </div>
        <div class="menu_pie">
            <h3>Mi Cuenta</h3> 
            <a href="../Login/login.html">Iniciar sesión</a> 
        </div>  
    </footer>
</body>
</html>
