<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utiles</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <div id="almacenador">
        <ul class="menu">
            <li class="active">
                Útiles Escolares
            </li>
            <li>
                <a href="#" ruta="">
                    <i class="material-icons">home</i>Inicio
                </a>
            </li>
        </ul>

        <div class="contenido">

            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/CuadernoCuadriculado.png" alt="Cuaderno Cuadriculado JUSTUS">
                <h2 class="nombre">Cuaderno Cuadriculado A4 JUSTUS 100 hojas</h2>
                <p class="precio">S/ 5.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/CuadernoRayado.jpeg" alt="Cuaderno Rayado JUSTUS">
                <h2 class="nombre">Cuaderno Rayado A4 JUSTUS 100 hojas</h2>
                <p class="precio">S/ 5.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/GomaEnBarraArtesco.jpeg" alt="Goma En barra Artesco">
                <h2 class="nombre">Goma En Barra ARTESCO 40gr</h2>
                <p class="precio">S/ </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/SiliconaLiquidaFalessa.jpeg" alt="Silicona Liquida Falessa">
                <h2 class="nombre">Silicona Liquida FALESSA 30ml</h2>
                <p class="precio">S/ </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/ColaSinteticaArtesco.jpg" alt="Cola Sintetica Artesco">
                <h2 class="nombre">Cola Sintetica ARTESCO 240ml</h2>
                <p class="precio">S/ </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/PlastilinaJumboArtesco.png" alt="Plastilina Jumbo ARTESCO">
                <h2 class="nombre">Plastilina Jumbo 12 colores ARTESCO </h2>
                <p class="precio">S/ 0.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/PlastilinaJumbo.png" alt="Plastilina Jumbo">
                <h2 class="nombre">Plastilina Jumbo 12 colores VIKINGO </h2>
                <p class="precio">S/ 0.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/PlastilinaDelgadaOve.png" alt="Plastilina Delgada Ove">
                <h2 class="nombre">Plastilina Delgada 10 colores OVE </h2>
                <p class="precio">S/ 0.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/TijeraMandarinaLayconsa.jpg" alt="Tijera Layconsa">
                <h2 class="nombre">Tijera Mandarinita LAYCONSA</h2>
                <p class="precio">S/ 0.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/ColoresPastelArtesco.png" alt="Colores Pastel Artesco">
                <h2 class="nombre">Colores Pastel ARTESCO 10und</h2>
                <p class="precio">S/ 0.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/PlumonesJuniorStandford.png" alt="Plumones Junior STANDFORD">
                <h2 class="nombre">Plumones Junior 3T STANDFORD 12und</h2>
                <p class="precio">S/ 0.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/LapicesColoresOval.png" alt="Lapices de Colores OVAL">
                <h2 class="nombre">Lapices De Colores Medianos Oval 12und</h2>
                <p class="precio">S/ 0.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>            
        </div>
    </div>

    <div class="paginacion">
        <a href="#Utiles" ruta="/Utiles/utiles.html" class="pagina pagina-actual">1</a>
        <a href="#Utiles2" ruta="/Utiles/utiles2.html" class="pagina ">2</a>
        <a href="#Utiles2" ruta="/Utiles/utiles2.html">
            <i class="material-icons">chevron_right</i>
        </a>
    </div>

    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
