<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utiles</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../css/estilos.css"/>
    <link rel="stylesheet" href="../css/piecero.css"/>
    <link rel="stylesheet" href="../css/cabecero.css"/>
</head>
<body>
    <header>
        <div class="ubicacion">
            <p>Vísitanos en la Távara 1161</p>
        </div>
        <div class="cabecero">
            <h1 id="titulo"> 
                <a href="../index.html">Multiservicios Brufas</a> 
            </h1>
            <a href="../Login/login.html" class="icono-login">
                <i class="material-icons">account_circle</i>
                  Iniciar sesión
            </a>
            <a href="#" class="carrito">
                <i class="material-icons">shopping_cart</i>
            </a>
        </div> 
    </header>

    <div id="almacenador">
        <ul class="menu">
            <li>
                <a href="../index.html">
                    <i class="material-icons">home</i>Inicio
                </a>
            </li>
        </ul>

        <div class="contenido">

            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/CuadernoCuadriculado.png" alt="Cuaderno Cuadriculado JUSTUS">
                <p class="nombre">Cuaderno Cuadriculado A4 JUSTUS 100 hojas</p>
                <p class="precio">S/ 5.50</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/CuadernoRayado.jpeg" alt="Cuaderno Rayado JUSTUS">
                <p class="nombre">Cuaderno Rayado A4 JUSTUS 100 hojas</p>
                <p class="precio">S/ 5.50</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/GomaEnBarraArtesco.jpeg" alt="Goma En barra Artesco">
                <p class="nombre">Goma En Barra ARTESCO 40gr</p>
                <p class="precio">S/ </p>
            </div>

            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/SiliconaLiquidaFalessa.jpeg" alt="Silicona Liquida Falessa">
                <p class="nombre">Silicona Liquida FALESSA 30ml</p>
                <p class="precio">S/ </p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/ColaSinteticaArtesco.jpg" alt="Cola Sintetica Artesco">
                <p class="nombre">Cola Sintetica ARTESCO 240ml</p>
                <p class="precio">S/ </p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/PlastilinaJumboArtesco.png" alt="Plastilina Jumbo ARTESCO">
                <p class="nombre">Plastilina Jumbo 12 colores ARTESCO </p>
                <p class="precio">S/ 0.00</p>
            </div>

            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/PlastilinaJumbo.png" alt="Plastilina Jumbo">
                <p class="nombre">Plastilina Jumbo 12 colores VIKINGO </p>
                <p class="precio">S/ 0.00</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/PlastilinaDelgadaOve.png" alt="Plastilina Delgada Ove">
                <p class="nombre">Plastilina Delgada 10 colores OVE </p>
                <p class="precio">S/ 0.00</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/TijeraMandarinaLayconsa.jpg" alt="Tijera Layconsa">
                <p class="nombre">Tijera Mandarinita LAYCONSA</p>
                <p class="precio">S/ 0.00</p>
            </div>

            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/ColoresPastelArtesco.png" alt="Colores Pastel Artesco">
                <p class="nombre">Colores Pastel ARTESCO 10und</p>
                <p class="precio">S/ 0.00</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/PlumonesJuniorStandford.png" alt="Plumones Junior STANDFORD">
                <p class="nombre">Plumones Junior 3T STANDFORD 12und</p>
                <p class="precio">S/ 0.00</p>
            </div>
            <div class="caja contenedor">
                <img src="../IMAGENES/Utiles/LapicesColoresOval.png" alt="Lapices de Colores OVAL">
                <p class="nombre">Lapices De Colores Medianos Oval 12und</p>
                <p class="precio">S/ 0.00</p>
            </div>            
        </div>
    </div>

    <div class="paginacion">
        <a href="#" class="pagina pagina-actual">1</a>
        <a href="../Utiles/utiles2.html" class="pagina ">2</a>
        <a href="../Utiles/utiles2.html">
            <i class="material-icons">chevron_right</i>
        </a>
    </div>

    <footer class="pie">
        <div class="menu_pie">
            <img class="logo_pie" src="../IMAGENES/LOGO.png" alt="logo Brufas"/>
        </div>
        <div class="menu_pie">
          <h3>Conócenos</h3> 
          <a href="../mapa.html" target="_blank">Nuestra Ubicación</a> <br/> 
          <a href="#">Quiénes Somos</a> 
        </div>
        <div class="menu_pie">
            <h3>Redes Sociales</h3> 
            <a href="#">Instagram</a> <br/>
            <a href="#">Facebook</a> 
        </div>
        <div class="menu_pie">
            <h3>Mi Cuenta</h3> 
            <a href="../Login/login.html">Iniciar sesión</a> 
        </div>  
    </footer>
</body>
</html>
