<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utiles</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <div id="almacenador">

        <div class="almacenadorDD">
            <input type="checkbox" id="dropdown">

            <label class="dropdown__face" for="dropdown">
                <div class="dropdown__text">Bebidas Alcohólicas</div>
            
                <div class="dropdown__arrow"></div>
            </label>
            
            <ul class="menu dropdown__items">
                <li class="active">
                    Útiles Escolares
                </li>
                <li>
                    <a href="#" ruta="">
                        <i class="material-icons">home</i>Inicio
                    </a>
                </li>
            </ul>
        </div>

        <div class="contenido">

            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/CuadernoCuadriculado.webp" alt="Cuaderno Cuadriculado JUSTUS">
                <h2 class="nombre">Cuaderno Cuadriculado A4 JUSTUS 100 hojas</h2>
                <p class="precio">S/ 5.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/CuadernoRayado.webp" alt="Cuaderno Rayado JUSTUS">
                <h2 class="nombre">Cuaderno Rayado A4 JUSTUS 100 hojas</h2>
                <p class="precio">S/ 5.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/EstucheReglas.webp" alt="Estuche de Reglas Artesco">
                <h2 class="nombre">Estuche de Reglas ARTESCO</h2>
                <p class="precio">S/ 5.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/GomaEnBarraArtesco.webp" alt="Goma En barra Artesco">
                <h2 class="nombre">Goma En Barra ARTESCO 40gr</h2>
                <p class="precio">S/ 2.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/ColaSinteticaArtesco.webp" alt="Cola Sintetica Artesco">
                <h2 class="nombre">Cola Sintetica ARTESCO 240ml</h2>
                <p class="precio">S/ 2.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/TijeraMandarinaLayconsa.webp" alt="Tijera Layconsa">
                <h2 class="nombre">Tijera Mandarinita LAYCONSA</h2>
                <p class="precio">S/ 3.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/LapizGrafitoArtesco.webp" alt="Lapiz Grafito ARTESCO">
                <h2 class="nombre">Lápiz Grafito ARTESCO 1und</h2>
                <p class="precio">S/ 0.60</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/LapiceroOval.webp" alt="Lapiz Grafito ARTESCO">
                <h2 class="nombre">Lapicero Clásico OVAL 1und</h2>
                <p class="precio">S/ 0.80</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/MiniResaltadoresArtesc.webp" alt="Mini Resaltadores Artesco">
                <h2 class="nombre">Mini Resaltadores ARTESCO 1und</h2>
                <p class="precio">S/ 2.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
                    
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/ColoresPastelArtesco.webp" alt="Colores Pastel Artesco">
                <h2 class="nombre">Colores Pastel ARTESCO 10und</h2>
                <p class="precio">S/ 8.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/PlumonesJuniorStandford.webp" alt="Plumones Junior STANDFORD">
                <h2 class="nombre">Plumones Junior 3T STANDFORD 12und</h2>
                <p class="precio">S/ 7.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/LapicesColoresOval.webp" alt="Lapices de Colores OVAL">
                <h2 class="nombre">Lapices De Colores Medianos Oval 12und</h2>
                <p class="precio">S/ 3.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>            
        </div>
    </div>

    <div class="paginacion">
        <a href="#Utiles" ruta="/Utiles/utiles.html" class="pagina pagina-actual">1</a>
        <a href="#Utiles2" ruta="/Utiles/utiles2.html" class="pagina ">2</a>
        <a href="#Utiles2" ruta="/Utiles/utiles2.html">
            <i class="material-icons">chevron_right</i>
        </a>
    </div>

    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
