<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utiles</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <div id="almacenador">
        <ul class="menu">
            <li>
                <a href="#" ruta="">
                    <i class="material-icons">home</i>Inicio
                </a>
            </li>
        </ul>

        <div class="contenido">
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/LapicesColoresGrandesOval.png" alt="Lapices de Colores grandes OVAL">
                <p class="nombre">Lapices De Colores Grandes Oval 12und</p>
                <p class="precio">S/ 0.00</p>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/LapizGrafitoArtesco.png" alt="Lapiz Grafito ARTESCO">
                <p class="nombre">Lápiz Grafito ARTESCO 1und</p>
                <p class="precio">S/ 0.60</p>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/MiniResaltadoresArtesc.jpeg" alt="Mini Resaltadores Artesco">
                <p class="nombre">Mini Resaltadores ARTESCO 1und</p>
                <p class="precio">S/ 2.50</p>
            </div>
            
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/Corrector.png" alt="Corrector">
                <p class="nombre">Lápiz Corrector TOYO 7ml</p>
                <p class="precio">S/ 2.00</p>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/CrayonesJumboLayconsa.png" alt="Crayones Jumbo Layconsa">
                <p class="nombre">Crayones Jumbo LAYCONSA 6und</p>
                <p class="precio">S/ 0.00</p>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/Sikura.png" alt="Sikura Mentol">
                <p class="nombre">Mentol SIKURA 10gr</p>
                <p class="precio">S/ 0.00</p>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/Naipes.png" alt="Bararja de Naipes">
                <p class="nombre">Bararja de Naipes REY</p>
                <p class="precio">S/ 0.00</p>
            </div>

            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/PilasAA.png" alt="Pilas Doble A Panasonic">
                <p class="nombre">Pilas AA PANASONIC</p>
                <p class="precio">S/ 0.00</p>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/PilasAAA.png" alt="Pilas Triple A Panasonic">
                <p class="nombre">Pilas AAA PANASONIC</p>
                <p class="precio">S/ 0.00</p>
            </div>
            <div class="caja contenedor">
                <img src="./IMAGENES/Utiles/LapicerosEscarchadosNayras12und.png" alt="Lapiceros Escarchados NAYRAS COLOR">
                <p class="nombre">Lapiceros Escarchados NAYRAS 12und</p>
                <p class="precio">S/ 7.00</p>
            </div>
        </div>
    </div>

    <div class="paginacion">
        <a href="#Utiles" ruta="/Utiles/utiles.html">
            <i class="material-icons">chevron_left</i>
        </a>
        <a href="#Utiles" ruta="/Utiles/utiles.html" class="pagina">1</a>
        <a href="#Utiles2" ruta="/Utiles/utiles2.html" class="pagina pagina-actual">2</a>
    </div>
</body>
</html>
