<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Chocolates</title>
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <h2 class="categoria"> Chocolates</h2>

    <div id="almacenador">
        <ul class="menu">
            <li>
                <a href="#Galletas" ruta="/Confiteria/Galletas.html">
                    <i class="material-icons">arrow_back</i>Volver
                </a>
            </li>
        </ul>
        
        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Chocolates/Sublime30gr.png" alt="Sublime 30gr">
                <p class="nombre">Nestlé Sublime 30gr</p>
                <p class="precio">S/ 1.50</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Chocolates/Sublime40gr.png" alt="Sublime 40gr">
                <p class="nombre">Nestlé Sublime 40gr</p>
                <p class="precio">S/ 2.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Chocolates/SublimeBlanco40gr.png" alt="Sublime Blanco 40gr">
                <p class="nombre">Nestlé Sublime Blanco 40gr</p>
                <p class="precio">S/ 2.00</p>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Chocolates/Triangulo30gr.png" alt="Triangulo 30gr">
                <p class="nombre">D'Onofrio Triángulo 30gr</p>
                <p class="precio">S/ 1.60</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Chocolates/Garoto.png" alt="Garoto">
                <p class="nombre">Caja de Chocolates Garoto 250gr</p>
                <p class="precio">S/ 2.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Chocolates/BonObon.png" alt="Bon O Bon">
                <p class="nombre">Bon O Bon Leche 15gr</p>
                <p class="precio">S/ 14.00</p>
            </div>
        </div>
    </div>
</body>
    <script src= "../componentes.js"></script>
</html>
