<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Chocolates</title>
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <h2 class="categoria"> Chocolates</h2>

    <div id="almacenador">
        <ul class="menu">
            <li class="active">
                Chocolates
            </li>
            <li>
                <a href="#Galletas" ruta="/Confiteria/Galletas.html">
                    <i class="material-icons">arrow_back</i>Volver
                </a>
            </li>
        </ul>
        
        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Chocolates/Sublime28gr.webp" alt="Sublime 28gr">
                <h2 class="nombre">Nestlé Sublime 28gr</h2>
                <p class="precio">S/ 1.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Chocolates/Sublime38gr.webp" alt="Sublime 38gr">
                <h2 class="nombre">Nestlé Sublime 38gr</h2>
                <p class="precio">S/ 2.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Chocolates/SublimeBlanco38gr.webp" alt="Sublime Blanco 38gr">
                <h2 class="nombre">Nestlé Sublime Blanco 38gr</h2>
                <p class="precio">S/ 2.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Chocolates/Triangulo30gr.webp" alt="Triangulo 30gr">
                <h2 class="nombre">D'Onofrio Triángulo 30gr</h2>
                <p class="precio">S/ 1.60</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Chocolates/Garoto.webp" alt="Garoto">
                <h2 class="nombre">Caja de Chocolates Garoto 250gr</h2>
                <p class="precio">S/ 2.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Chocolates/BonObon.webp" alt="Bon O Bon">
                <h2 class="nombre">Bon O Bon Leche 15gr</h2>
                <p class="precio">S/ 14.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>

    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
