<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confitería</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/css/cabecero.css"/>
    <link rel="stylesheet" href="/css/piecero.css"/> 
</head>
<body>
    <header>
        <div class="ubicacion">
            <p>Vísitanos en la Távara 1161</p>
        </div>
        <div class="cabecero">
            <h1 id="titulo"> 
                <a href="/index.html">Multiservicios Brufas</a> 
            </h1>
            <a href="/Login/login.html" class="icono-login">
                <i class="material-icons">account_circle</i>
                  Iniciar sesión
            </a>
            <a href="#" class="carrito">
                <i class="material-icons">shopping_cart</i>
            </a>
        </div> 
    </header>

    <h2 class="categoria"> Confiteria</h2>

    <div id="almacenador">
        <ul class="menu">
            <li>
                <a href="/index.html">
                    <i class="material-icons">home</i> Inicio
                </a>
            </li>            
            <li>
                <a href="#">Galletas</a>
            </li>
            <li>
                <a href="/Confiteria/Chocolates.html">Chocolates</a>
            </li>
            <li>
                <a href="/Confiteria/Golosinas.html">Golosinas</a>
            </li>
        </ul>

        <div class="contenido">
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/Vainilla.png" alt="Vainilla Field">
                <p class="nombre">Galleta Vainilla Field 37g</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/PicarasFresa.png" alt="Picaras Fresa">
                <p class="nombre">Galleta Picaras Fresa 40g</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/Margarita.png" alt="Margarita">
                <p class="nombre">Galleta Margarita 46g</p>
                <p class="precio">S/ 1.00</p>
            </div>

            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/ClubSocial.png" alt="Club Social">
                <p class="nombre">Galleta Club Social Original 26g</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/Chocosoda.png" alt="Chocosoda">
                <p class="nombre">Galleta Chocosoda 36g</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/Oreo.png" alt="Oreo">
                <p class="nombre">Galleta Oreo Clásicas 36g</p>
                <p class="precio">S/ 1.00</p>
            </div>

            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/CoronitaChoco.png" alt="Coronita Chcolate">
                <p class="nombre">Galleta Coronita Chocolate 38g</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/Chocman.png" alt="Chocman">
                <p class="nombre">Galleta Chocman 35g</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/Charadas.png" alt="Charadas">
                <p class="nombre">Galleta Charadas 40g</p>
                <p class="precio">S/ 1.00</p>
            </div>

            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/Chin Chin.png" alt="Chin Chin">
                <p class="nombre">Galleta Chin Chin 31g</p>
                <p class="precio">S/ 0.80</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/AguaLine.png" alt="Agua Line">
                <p class="nombre">Galleta Agua Line 42g</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/Trikis.png" alt="Trikis">
                <p class="nombre">Galleta Trikis 32g</p>
                <p class="precio">S/ 1.00</p>
            </div>
        </div>
    </div>    


    <div class="paginacion">
        <a href="/Confiteria/Galletas.html">
            <i class="material-icons">chevron_left</i>
        </a>
        <a href="/Confiteria/Galletas.html" class="pagina">1</a>
        <a href="#" class="pagina  pagina-actual">2</a>
        <a href="/Confiteria/Galletas3.html" class="pagina">3</a>
        <a href="/Confiteria/Galletas3.html">
            <i class="material-icons">chevron_right</i>
        </a>
        </a>
    </div>

    <footer class="pie">
        <div class="menu_pie">
            <img class="logo_pie" src="/IMAGENES/LOGO.png" alt="logo Brufas"/>
        </div>
        <div class="menu_pie">
          <h3>Conócenos</h3> 
          <a href="/mapa.html" target="_blank">Nuestra Ubicación</a>  <br/>
          <a href="#">Quiénes Somos</a> 
        </div>
        <div class="menu_pie">
            <h3>Redes Sociales</h3> 
            <a href="#">Instagram</a> <br/>
            <a href="#">Facebook</a> 
        </div>
        <div class="menu_pie">
            <h3>Mi Cuenta</h3> 
            <a href="#">Iniciar sesión</a> 
        </div>        
    </footer>
</body>
    <script src= "../componentes.js"></script>
</html>
