<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confitería</title>
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <h2 class="categoria"> Confiteria</h2>

    <div id="almacenador">

        <div class="almacenadorDD">
            <input type="checkbox" id="dropdown">

            <label class="dropdown__face" for="dropdown">
                <div class="dropdown__text">Bebidas Alcohólicas</div>
            
                <div class="dropdown__arrow"></div>
            </label>
            
            <ul class="menu dropdown__items">
                <li class="active">
                    Confitería
                </li>
                <li>
                    <a href="#" ruta="">
                        <i class="material-icons">home</i> Inicio
                    </a>
                </li>            
                <li>
                    <a href="#Galletas" ruta="/Confiteria/Galletas.html">Galletas</a>
                </li>
                <li>
                    <a href="#PiqueosYSnacks" ruta="/Confiteria/piqueos.html">Piqueos y Snacks</a>
                </li>
                <li>
                    <a href="#Chocolates" ruta="/Confiteria/Chocolates.html">Chocolates</a>
                </li>
                <li>
                    <a href="#Golosinas" ruta="/Confiteria/Golosinas.html">Golosinas</a>
                </li>
            </ul>
        </div>
 
        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/MiniRitz.webp" alt="Mini Ritz">
                <h2 class="nombre">Galleta Mini Ritz 40g</h2>
                <p class="precio">S/ 1.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/MiniCuaCua.webp" alt="Mini Cua Cua">
                <h2 class="nombre">Galleta Mini Cua Cua 42g</h2>
                <p class="precio">S/ 1.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/MiniPicaras.webp" alt="Mini Picaras">
                <h2 class="nombre">Galleta Mini Picaras Chocolate 46g</h2>
                <p class="precio">S/ 1.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/TikysMarsh.webp" alt="Tikys Malvaviscos">
                <h2 class="nombre">Tikys Malvaviscos 200g</h2>
                <p class="precio">S/ 2.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/Travesuras.webp" alt="Mini Travesuras">
                <h2 class="nombre">Galleta Travesuras 50g</h2>
                <p class="precio">S/ 1.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/Morochas.webp" alt="Morochas">
                <h2 class="nombre">Galleta Morochas Clásicas 30g</h2>
                <p class="precio">S/ 1.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/CasinoChocolate.webp" alt="Casino Chcolate">
                <h2 class="nombre">Galleta Casino Chocolate 43g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/CasinoMenta.webp" alt="Casino Menta">
                <h2 class="nombre">Galleta Casino Menta 43g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/CasinoVainilla.webp" alt="Casino Vainilla">
                <h2 class="nombre">Galleta Casino Vainilla 43g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/CasinoFresa.webp" alt="Casino Fresa">
                <h2 class="nombre">Galleta Casino Fresa 43g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/TentacionChoco.webp" alt="Tentacion Chcolate">
                <h2 class="nombre">Galleta Tentacion Chocolate 43g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/TentacionNaranja.webp" alt="Tentacion Naranja">
                <h2 class="nombre">Galleta Tentacion Naranja 43g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

        </div>
    </div>

    <div class="paginacion">
        <a href="#Galletas" ruta="/Confiteria/Galletas.html" class="pagina pagina-actual">1</a>
        <a href="#Galletas2" ruta="/Confiteria/Galletas2.html" class="pagina ">2</a>
        <a href="#Galletas3" ruta="/Confiteria/Galletas3.html" class="pagina ">3</a>
        <a href="#Galletas2" ruta="/Confiteria/Galletas2.html">
            <i class="material-icons">chevron_right</i>
        </a>
    </div>

    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
