<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confitería</title>
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <h2 class="categoria"> Confiteria</h2>

    <div id="almacenador">

        <div class="almacenadorDD">
            <input type="checkbox" id="dropdown">

            <label class="dropdown__face" for="dropdown">
                <div class="dropdown__text">Bebidas Alcohólicas</div>
            
                <div class="dropdown__arrow"></div>
            </label>
            
            <ul class="menu dropdown__items">
                <li class="active">
                    Galletas
                </li>
                <li>
                    <a href="#" ruta="">
                        <i class="material-icons">home</i> Inicio
                    </a>
                </li>            
                <li>
                    <a href="#Galletas" ruta="/Confiteria/Galletas.html">Galletas</a>
                </li>
                <li>
                    <a href="#PiqueosYSnacks" ruta="/Confiteria/piqueos.html">Piqueos y Snacks</a>
                </li>
                <li>
                    <a href="#Chocolates" ruta="/Confiteria/Chocolates.html">Chocolates</a>
                </li>
                <li>
                    <a href="#Golosinas" ruta="/Confiteria/Golosinas.html">Golosinas</a>
                </li>
            </ul>
        </div>

        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/Vainilla.webp" alt="Vainilla Field">
                <h2 class="nombre">Galleta Vainilla Field 37g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/PicarasFresa.webp" alt="Picaras Fresa">
                <h2 class="nombre">Galleta Picaras Fresa 40g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/Margarita.webp" alt="Margarita">
                <h2 class="nombre">Galleta Margarita 46g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/ClubSocial.webp" alt="Club Social">
                <h2 class="nombre">Galleta Club Social Original 26g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/Chocosoda.webp" alt="Chocosoda">
                <h2 class="nombre">Galleta Chocosoda 36g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/Oreo.webp" alt="Oreo">
                <h2 class="nombre">Galleta Oreo Clásicas 36g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/CoronitaChoco.webp" alt="Coronita Chcolate">
                <h2 class="nombre">Galleta Coronita Chocolate 38g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/Chocman.webp" alt="Chocman">
                <h2 class="nombre">Galleta Chocman 35g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/Charadas.webp" alt="Charadas">
                <h2 class="nombre">Galleta Charadas 40g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/Chin Chin.webp" alt="Chin Chin">
                <h2 class="nombre">Galleta Chin Chin 31g</h2>
                <p class="precio">S/ 0.80</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/AguaLine.webp" alt="Agua Line">
                <h2 class="nombre">Galleta Agua Line 42g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/Trikis.webp" alt="Trikis">
                <h2 class="nombre">Galleta Trikis 32g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>    

    <div class="paginacion">
        <a href="#Galletas" ruta="/Confiteria/Galletas.html">
            <i class="material-icons">chevron_left</i>
        </a>
        <a href="#Galletas" ruta="/Confiteria/Galletas.html" class="pagina">1</a>
        <a href="#Galletas2" ruta="/Confiteria/Galletas2.html" class="pagina pagina-actual">2</a>
        <a href="#Galletas3" ruta="/Confiteria/Galletas3.html" class="pagina ">3</a> 
        <a href="#Galletas3" ruta="/Confiteria/Galletas3.html">
            <i class="material-icons">chevron_right</i>
        </a>
    </div>

    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
