<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confitería</title>
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <h2 class="categoria"> Confiteria</h2>

    <div id="almacenador">
        <ul class="menu">
            <li class="active">
                Confitería
            </li>
            <li>
                <a href="#" ruta="">
                    <i class="material-icons">home</i> Inicio
                </a>
            </li>            
            <li>
                <a href="#Galletas" ruta="/Confiteria/Galletas.html">Galletas</a>
            </li>
            <li>
                <a href="#PiqueosYSnacks" ruta="/Confiteria/piqueos.html">Piqueos y Snacks</a>
            </li>
            <li>
                <a href="#Chocolates" ruta="/Confiteria/Chocolates.html">Chocolates</a>
            </li>
            <li>
                <a href="#Golosinas" ruta="/Confiteria/Golosinas.html">Golosinas</a>
            </li>
        </ul>

        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/MiniRitz.jpeg" alt="Mini Ritz">
                <p class="nombre">Galleta Mini Ritz 40g</p>
                <p class="precio">S/ 1.50</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/MiniCuaCua.png" alt="Mini Cua Cua">
                <p class="nombre">Galleta Mini Cua Cua 42g</p>
                <p class="precio">S/ 1.50</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/MiniPicaras.png" alt="Mini Picaras">
                <p class="nombre">Galleta Mini Picaras Chocolate 46g</p>
                <p class="precio">S/ 1.50</p>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/TikysMarsh.png" alt="Tikys Malvaviscos">
                <p class="nombre">Tikys Malvaviscos 200g</p>
                <p class="precio">S/ 2.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/Travesuras.png" alt="Mini Travesuras">
                <p class="nombre">Galleta Travesuras 50g</p>
                <p class="precio">S/ 1.50</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/Morochas.png" alt="Morochas">
                <p class="nombre">Galleta Morochas Clásicas 30g</p>
                <p class="precio">S/ 1.50</p>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/CasinoChocolate.png" alt="Casino Chcolate">
                <p class="nombre">Galleta Casino Chocolate 43g</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/CasinoMenta.png" alt="Casino Menta">
                <p class="nombre">Galleta Casino Menta 43g</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/CasinoVainilla.png" alt="Casino Vainilla">
                <p class="nombre">Galleta Casino Vainilla 43g</p>
                <p class="precio">S/ 1.00</p>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/CasinoFresa.png" alt="Casino Fresa">
                <p class="nombre">Galleta Casino Fresa 43g</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/TentacionChoco.png" alt="Tentacion Chcolate">
                <p class="nombre">Galleta Tentacion Chocolate 43g</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/TentacionNaranja.png" alt="Tentacion Naranja">
                <p class="nombre">Galleta Tentacion Naranja 43g</p>
                <p class="precio">S/ 1.00</p>
            </div>

        </div>
    </div>

    <div class="paginacion">
        <a href="#Galletas" ruta="/Confiteria/Galletas.html" class="pagina pagina-actual">1</a>
        <a href="#Galletas2" ruta="/Confiteria/Galletas2.html" class="pagina ">2</a>
        <a href="#Galletas3" ruta="/Confiteria/Galletas3.html" class="pagina ">3</a>
        <a href="#Galletas2" ruta="/Confiteria/Galletas2.html">
            <i class="material-icons">chevron_right</i>
        </a>
    </div>
</body>
    <script src= "../componentes.js"></script>
</html>
