<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galletas</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <h2 class="categoria"> Confiteria</h2>

    <div id="almacenador">
        <ul class="menu">
            <li>
                <a href="/index.html">
                    <i class="material-icons">home</i> Inicio
                </a>
            </li>            
            <li>
                <a href="#">Galletas</a>
            </li>
            <li>
                <a href="/Confiteria/Chocolates.html">Chocolates</a>
            </li>
            <li>
                <a href="/Confiteria/Golosinas.html">Golosinas</a>
            </li>
        </ul>

        <div class="contenido">
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/Divas.png" alt="Divas ">
                <p class="nombre">Galleta Divas 34g</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/SodaV.png" alt="Soda V">
                <p class="nombre">Galleta SodaV 35g</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/SodaFIELD.png" alt="Soda Field">
                <p class="nombre">Galleta Soda Field 34g</p>
                <p class="precio">S/ 0.70</p>
            </div>

            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/ClubSocial.png" alt="Club Social">
                <p class="nombre">Galleta Club Social Original 26g</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/RitzTaco.png" alt="Ritz Taco">
                <p class="nombre">Galleta Ritz Taco 67g</p>
                <p class="precio">S/ 1.50</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/OreoTaco.png" alt="Oreo Taco">
                <p class="nombre">Galleta Oreo Taco Clásicas 126g</p>
                <p class="precio">S/ 2.50</p>
            </div>

            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/WaferChoco.png" alt="Wafer Chcolate">
                <p class="nombre">Galleta Wafer Chocolate 105g</p>
                <p class="precio">S/ 2.50</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/WaferFresa.png" alt="Wafer Fresa">
                <p class="nombre">Galleta Wafer Fresa 105g</p>
                <p class="precio">S/ 2.50</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Galletas/Pringles Original.png" alt="Pringles">
                <p class="nombre">Papas Pringles Orignal 124g</p>
                <p class="precio">S/ 13.00</p>
            </div>
        </div>
    </div>    

    <div class="paginacion">
        <a href="/Confiteria/Galletas2.html">
            <i class="material-icons">chevron_left</i>
        </a>
        <a href="/Confiteria/Galletas.html" class="pagina">1</a>
        <a href="/Confiteria/Galletas2.html" class="pagina">2</a>
        <a href="#" class="pagina pagina-actual">3</a>
    </div>
</body>
    <script src= "../componentes.js"></script>
</html>
