<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galletas</title>
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <h2 class="categoria"> Confiteria</h2>

    <div id="almacenador">

        <div class="almacenadorDD">
            <input type="checkbox" id="dropdown">

            <label class="dropdown__face" for="dropdown">
                <div class="dropdown__text">Bebidas Alcohólicas</div>
            
                <div class="dropdown__arrow"></div>
            </label>
            
            <ul class="menu dropdown__items">
                <li class="active">
                    Galletas
                </li>
                <li>
                    <a href="#" ruta="">
                        <i class="material-icons">home</i> Inicio
                    </a>
                </li>            
                <li>
                    <a href="#Galletas" ruta="/Confiteria/Galletas.html">Galletas</a>
                </li>
                <li>
                    <a href="#PiqueosYSnacks" ruta="/Confiteria/piqueos.html">Piqueos y Snacks</a>
                </li>
                <li>
                    <a href="#Chocolates" ruta="/Confiteria/Chocolates.html">Chocolates</a>
                </li>
                <li>
                    <a href="#Golosinas" ruta="/Confiteria/Golosinas.html">Golosinas</a>
                </li>
            </ul>
        </div>

        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/Divas.webp" alt="Divas ">
                <h2 class="nombre">Galleta Divas 34g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/SodaV.webp" alt="Soda V">
                <h2 class="nombre">Galleta SodaV 35g</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/SodaFIELD.webp" alt="Soda Field">
                <h2 class="nombre">Galleta Soda Field 34g</h2>
                <p class="precio">S/ 0.70</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/PringlesOriginal.webp" alt="Pringles">
                <h2 class="nombre">Papas Pringles Orignal 124g</h2>
                <p class="precio">S/ 13.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/RitzTaco.webp" alt="Ritz Taco">
                <h2 class="nombre">Galleta Ritz Taco 67g</h2>
                <p class="precio">S/ 1.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/OreoTaco.webp" alt="Oreo Taco">
                <h2 class="nombre">Galleta Oreo Taco Clásicas 126g</h2>
                <p class="precio">S/ 2.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/WaferChoco.webp" alt="Wafer Chcolate">
                <h2 class="nombre">Galleta Wafer Chocolate 105g</h2>
                <p class="precio">S/ 2.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/WaferFresa.webp" alt="Wafer Fresa">
                <h2 class="nombre">Galleta Wafer Fresa 105g</h2>
                <p class="precio">S/ 2.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Galletas/WaferVainilla.webp" alt="Wafer Vainilla">
                <h2 class="nombre">Galleta Wafer Vainilla 105g</h2>
                <p class="precio">S/ 2.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>    

    <div class="paginacion">
        <a href="#Galleta2s" ruta="/Confiteria/Galletas2.html">
            <i class="material-icons">chevron_left</i>
        </a>
        <a href="#Galletas" ruta="/Confiteria/Galletas.html" class="pagina">1</a>
        <a href="#Galletas2" ruta="/Confiteria/Galletas2.html" class="pagina ">2</a>
        <a href="#Galletas3" ruta="/Confiteria/Galletas3.html" class="pagina pagina-actual">3</a> 
    </div>

    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
