<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piequeos y Snacks</title>
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <h2 class="categoria"> Snacks y Piqueos</h2> 

    <div id="almacenador">
        <ul class="menu">
            <li class="active">
                Piqueos y Snacks
            </li>
            <li>
                <a href="#Galletas" ruta="/Confiteria/Galletas.html">
                    <i class="material-icons">arrow_back</i>Volver
                </a>
            </li>
        </ul>

        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Snacks/PiqueoSnack23gr.webp" alt="Piqueo Snack 23gr">
                <h2 class="nombre">Piqueo Snack Original 23gr</h2>
                <p class="precio">S/ 1.00 </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Snacks/CheetosMegaQueso34gr.webp" alt="Cheetos Mega Queso 34gr">
                <h2 class="nombre">Cheetos Mega Queso 34gr</h2>
                <p class="precio">S/ 1.40 </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Snacks/PapaLays17gr.webp" alt="Papas Lays 17gr">
                <h2 class="nombre">Papas Lays Original 17gr</h2>
                <p class="precio">S/ 1.00 </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Snacks/CheesTris16gr.webp" alt="Cheese Tris 16gr">
                <h2 class="nombre">Cheese Tris Queso 16gr</h2>
                <p class="precio">S/ 1.00 </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Snacks/Doritos21gr.webp" alt="Doritos Queso Atrevdo 21gr">
                <h2 class="nombre">Doritos Queso 21gr</h2>
                <p class="precio">S/ 1.00 </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Snacks/TorteesPicante30gr.webp" alt="Tortees Picante 30gr">
                <h2 class="nombre">Tortees Picante 30gr</h2>
                <p class="precio">S/ 1.00 </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Snacks/Chizito35gr.webp" alt="Chizitos 35gr">
                <h2 class="nombre">Chizitos Fiesta Queso 35gr</h2>
                <p class="precio">S/ 1.00 </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Snacks/PiqueoSnack225gr.webp" alt="Piqueo Snack 225gr">
                <h2 class="nombre">Piqueo Snack Original 225gr</h2>
                <p class="precio">S/ 8.00 </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Snacks/PapasLays150gr.webp" alt="Papas Lays Clasicas 150gr">
                <h2 class="nombre">Papas Lays Clasicas 150gr</h2>
                <p class="precio">S/ 8.50 </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Snacks/Doritos190gr.webp" alt="Doritos Queso Atrevido 190gr">
                <h2 class="nombre">Doritos Queso 190gr</h2>
                <p class="precio">S/ 8.50 </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Snacks/Chizito190gr.webp" alt="Chizitos Fiesta Queso 190gr">
                <h2 class="nombre">Chizitos Fiesta Queso 190gr</h2>
                <p class="precio">S/ 7.00 </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Snacks/BuckyFieston200gr.webp" alt="Bucky Fieston Cheese">
                <h2 class="nombre">Bucky Fieston Cheese 200gr</h2>
                <p class="precio">S/ 5.50 </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Confiteria/Snacks/Cheetos200gr.webp" alt="Cheetos Mega Queso 200gr">
                <h2 class="nombre">Cheetos Mega Queso 200gr</h2>
                <p class="precio">S/ 8.00 </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>

    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
