<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piequeos y Snacks</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <h2 class="categoria"> Snacks y Piqueos</h2> 

    <div id="almacenador">
        <ul class="menu">
            <li>
                <a href="/Confiteria/Galletas.html">
                    <i class="material-icons">arrow_back</i>Volver
                </a>
            </li>
        </ul>

        <div class="contenido">
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Snacks/PiqueoSnack23gr.jpeg" alt="Piqueo Snack 23gr">
                <p class="nombre">Piqueo Snack Original 23gr</p>
                <p class="precio">S/ 1.00 </p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Snacks/CheetosMegaQueso34gr.jpeg" alt="Cheetos Mega Queso 34gr">
                <p class="nombre">Cheetos Mega Queso 34gr</p>
                <p class="precio">S/ 1.40 </p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Snacks/PapaLays17gr.jpeg" alt="Papas Lays 17gr">
                <p class="nombre">Papas Lays Original 17gr</p>
                <p class="precio">S/ 1.00 </p>
            </div>

            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Snacks/CheesTris16gr.jpeg" alt="Cheese Tris 16gr">
                <p class="nombre">Cheese Tris Queso 16gr</p>
                <p class="precio">S/ 1.00 </p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Snacks/Doritos21gr.jpeg" alt="Doritos Queso Atrevdo 21gr">
                <p class="nombre">Doritos Queso 21gr</p>
                <p class="precio">S/ 1.00 </p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Snacks/TorteesPicante30gr.png" alt="Tortees Picante 30gr">
                <p class="nombre">Tortees Picante 30gr</p>
                <p class="precio">S/ 1.00 </p>
            </div>

            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Snacks/Chizito35gr.png" alt="Chizitos 35gr">
                <p class="nombre">Chizitos Fiesta Queso 35gr</p>
                <p class="precio">S/ 1.00 </p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Snacks/PiqueoSnack225gr.jpeg" alt="Piqueo Snack 225gr">
                <p class="nombre">Piqueo Snack Original 225gr</p>
                <p class="precio">S/ 8.00 </p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Snacks/PapasLays150gr.jpeg" alt="Papas Lays Clasicas 150gr">
                <p class="nombre">Papas Lays Clasicas 150gr</p>
                <p class="precio">S/ 8.50 </p>
            </div>

            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Snacks/Doritos190gr.jpeg" alt="Doritos Queso Atrevido 190gr">
                <p class="nombre">Doritos Queso 190gr</p>
                <p class="precio">S/ 8.50 </p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Snacks/Chizito190gr.jpeg" alt="Chizitos Fiesta Queso 190gr">
                <p class="nombre">Chizitos Fiesta Queso 190gr</p>
                <p class="precio">S/ 7.00 </p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Snacks/BuckyFieston200gr.jpeg" alt="Bucky Fieston Cheese">
                <p class="nombre">Bucky Fieston Cheese 200gr</p>
                <p class="precio">S/ 5.50 </p>
            </div>

            <div class="caja contenedor">
                <img src="/IMAGENES/Confiteria/Snacks/Cheetos200gr.jpeg" alt="Cheetos Mega Queso 200gr">
                <p class="nombre">Cheetos Mega Queso 200gr</p>
                <p class="precio">S/ 8.00 </p>
            </div>
        </div>
    </div>
</body>
    <script src= "../componentes.js"></script>
</html>
