<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aguas</title>
    <title>Bebidas-No-Alcoholicas</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <h2 class="categoria"> Aguas </h2>
    <div id="almacenador">
        <ul class="menu">
            <li>
                <a href="#Gaseosas" ruta="/Bebidas-No-Alcoholicas/BebidasNoAlcoholicas.html"> 
                    <i class="material-icons">arrow_back</i>Volver
                </a>
            </li>
        </ul>

        <div class="contenido">            
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Aguas/SanLuis3L.png" alt="San Luis S/G 3L">
                <p class="nombre">Agua San Luis Sin Gas 3L</p>
                <p class="precio">S/ 3.50</p>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Aguas/SanLuisCG3L.png" alt="San Luis C/G 3L">
                <p class="nombre">Agua San Luis Con Gas 3L</p>
                <p class="precio">S/ 3.50</p>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Aguas/SanLuis1L.png" alt="San Luis S/G 1L">
                <p class="nombre">Agua San Luis Sin Gas 1L</p>
                <p class="precio">S/ 2.00</p>
            </div>

            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Aguas/SanLuis.png" alt="San Luis S/G 500ml">
                <p class="nombre">Agua San Luis Sin Gas 500ml</p>
                <p class="precio">S/ 1.50</p>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Aguas/SanLuisCG.png" alt="San Luis C/G 500ml">
                <p class="nombre">Agua San Luis Con Gas 500ml</p>
                <p class="precio">S/ 1.50</p>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Aguas/Cielo1l.png" alt="Cielo 1L">
                <p class="nombre">Agua Cielo Sin Gas 1L</p>
                <p class="precio">S/ 2.00</p>
            </div>

            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Aguas/Cielo.png" alt="Cielo S/G 500L">
                <p class="nombre">Agua Cielo Sin Gas 625ml</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Aguas/CieloCG.png" alt="Cielo C/G 500L">
                <p class="nombre">Agua Cielo Con Gas 625ml</p>
                <p class="precio">S/ 1.00</p>
            </div>
        </div>
    </div>
</body>
    <script src= "../componentes.js"></script>
</html>
