<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aguas</title>
    <title>Bebidas-No-Alcoholicas</title>
    <link rel="stylesheet" href="/css/estilos.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/css/cabecero.css"/>
    <link rel="stylesheet" href="/css/piecero.css"/>
</head>
<body>
    <header>
        <div class="ubicacion">
            <p>Vísitanos en la Távara 1161</p>
        </div>
        <div class="cabecero">
            <h1 id="titulo"> 
                <a href="/index.html">Multiservicios Brufas</a> 
            </h1>
            <a href="/Login/login.html" class="icono-login">
                <i class="material-icons">account_circle</i>
                  Iniciar sesión
            </a>
            <a href="#" class="carrito">
                <i class="material-icons">shopping_cart</i>
            </a>
        </div> 
    </header>

    <h2 class="categoria"> Aguas </h2>
    <div id="almacenador">
        <ul class="menu">
            <li>
                <a class="icono" href="/Bebidas-No-Alcoholicas/BebidasNoAlcoholicas.html"> 
                    <i class="material-icons">arrow_back</i>Volver
                </a>
            </li>
            <li>
                
            </li>
        </ul>

        <div class="contenido">            
            <div class="caja contenedor">
                <img class="contenedor" src="/IMAGENES/Aguas/SanLuis3L.png" alt="San Luis S/G 3L">
                <p class="nombre">Agua San Luis Sin Gas 3L</p>
                <p class="precio">S/ 3.50</p>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src="/IMAGENES/Aguas/SanLuisCG3L.png" alt="San Luis C/G 3L">
                <p class="nombre">Agua San Luis Con Gas 3L</p>
                <p class="precio">S/ 3.50</p>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src="/IMAGENES/Aguas/SanLuis1L.png" alt="San Luis S/G 1L">
                <p class="nombre">Agua San Luis Sin Gas 1L</p>
                <p class="precio">S/ 2.00</p>
            </div>

            <div class="caja contenedor">
                <img class="contenedor" src="/IMAGENES/Aguas/SanLuis.png" alt="San Luis S/G 500ml">
                <p class="nombre">Agua San Luis Sin Gas 500ml</p>
                <p class="precio">S/ 1.50</p>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src="/IMAGENES/Aguas/SanLuisCG.png" alt="San Luis C/G 500ml">
                <p class="nombre">Agua San Luis Con Gas 500ml</p>
                <p class="precio">S/ 1.50</p>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src="/IMAGENES/Aguas/Cielo1l.png" alt="Cielo 1L">
                <p class="nombre">Agua Cielo Sin Gas 1L</p>
                <p class="precio">S/ 2.00</p>
            </div>

            <div class="caja contenedor">
                <img class="contenedor" src="/IMAGENES/Aguas/Cielo.png" alt="Cielo S/G 500L">
                <p class="nombre">Agua Cielo Sin Gas 625ml</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src="/IMAGENES/Aguas/CieloCG.png" alt="Cielo C/G 500L">
                <p class="nombre">Agua Cielo Con Gas 625ml</p>
                <p class="precio">S/ 1.00</p>
            </div>
        </div>
    </div>

    <footer class="pie">
        <div class="menu_pie">
            <img class="logo_pie" src="/IMAGENES/LOGO.png" alt="logo Brufas"/>
        </div>
        <div class="menu_pie">
          <h3>Conócenos</h3> 
          <a href="#">Nuestra Ubicación</a>  <br/>
          <a href="#">Quiénes Somos</a> 
        </div>
        <div class="menu_pie">
            <h3>Redes Sociales</h3> 
            <a href="#">Instagram</a> <br/>
            <a href="#">Facebook</a> 
        </div>
        <div class="menu_pie">
            <h3>Mi Cuenta</h3> 
            <a href="#">Iniciar sesión</a> 
        </div>        
    </footer>
</body>
    <script src= "../componentes.js"></script>
</html>
