<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bebidas-No-Alcoholicas</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <h2 class="categoria"> Bebidas No Alcoholicas </h2>

    <div id="almacenador">
        <ul class="menu">
            <li class="active">
                Bebidas No Alcohólicas
            </li>
            <li>
                <a href="#" ruta="">
                    <i class="material-icons">home</i>
                    Inicio
                </a>
            </li>
            <li>
                <a href="#Gaseosas" ruta="/Bebidas-No-Alcoholicas/BebidasNoAlcoholicas.html">Gaseosas</a>
            </li>
            <li>
                <a href="#Aguas" ruta="/Bebidas-No-Alcoholicas/Aguas.html">Aguas</a>
            </li>
            <li>
                <a href="#Energizantes" ruta="/Bebidas-No-Alcoholicas/Energizantes.html">Energizantes</a>
            </li>
            <li>
                <a href="#Jugos" ruta="/Bebidas-No-Alcoholicas/Jugos.html">Jugos</a>
            </li>
            <li>
                <a href="#Rehidradantes" ruta="/Bebidas-No-Alcoholicas/Rehidratantes.html">Rehidratantes</a>
            </li>
        </ul>
 
        <div class="contenido">
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/coca3L.png" alt="Coca 3L">
                <h2 class="nombre">Gaseosa Coca Cola 3L</h2>
                <p class="precio">S/ 12.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Inca3L.png" alt="Inca 3L">
                <h2 class="nombre">Gaseosa Inca Kola 3L</h2>
                <p class="precio">S/ 12.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/CocaCola2.5L.png" alt="Coca 2.5L">
                <h2 class="nombre">Gaseosa Coca Cola 2.5L</h2>
                <p class="precio">S/ 8.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Inca2.5L.png" alt="Inca 2.5L">
                <h2 class="nombre">Gaseosa Inca Kola 2.5L</h2>
                <p class="precio">S/ 8.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Coca1.5L.png" alt="Coca 1.5L">
                <h2 class="nombre">Gaseosa Coca Cola Sin Azúcar 1.5L</h2>
                <p class="precio">S/ 6.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Inka1.5L.png" alt="Inca 1.5L">
                <h2 class="nombre">Gaseosa Inca Kola Sin Azúcar 1.5L</h2>
                <p class="precio">S/ 6.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Inca1.5Lretornable.png" alt="Inca 1.5L">
                <h2 class="nombre">Gaseosa Inca Kola Retornable 1.5L</h2>
                <p class="precio">S/ 5.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/coca1Lretornable.png" alt="Coca 1L">
                <h2 class="nombre">Gaseosa Coca Cola Retornable 1L</h2>
                <p class="precio">S/ 3.80</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/inca1Lretornable.png" alt="Inca 1L">
                <h2 class="nombre">Gaseosa Inca Kola Retornable 1L</h2>
                <p class="precio">S/ 3.80</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/CocaMedioLitro.png" alt="Coca 500mL">
                <h2 class="nombre">Gaseosa Coca Cola 500mL</h2>
                <p class="precio">S/ 2.80</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/IncaMedioLitro.png" alt="Inca 500mL">
                <h2 class="nombre">Gaseosa Inca Kola 500mL</h2>
                <p class="precio">S/ 2.80</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/CocaPeque.png" alt="Coca Peque">
                <h2 class="nombre">Gaseosa Coca Cola 300mL</h2>
                <p class="precio">S/ 1.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/IncaPeque.png" alt="Inca Peque">
                <h2 class="nombre">Gaseosa Inca Kola 300mL</h2>
                <p class="precio">S/ 1.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/IncaPirania.png" alt="Inca Pirañita">
                <h2 class="nombre">Gaseosa Inca Kola 237mL</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/cocaPirania.png" alt="Coca Pirañita">
                <h2 class="nombre">Gaseosa Coca Cola 237mL</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div> 
    <br/>
    <div class="paginacion">
        <a href="#Gaseosas" ruta="/Bebidas-No-Alcoholicas/BebidasNoAlcoholicas.html" class="pagina pagina-actual">1</a>
        <a href="#Gaseosas2" ruta="/Bebidas-No-Alcoholicas/Gaseosas2.html" class="pagina ">2</a>
        <a href="#Gaseosas2" ruta="/Bebidas-No-Alcoholicas/Gaseosas2.html">
            <i class="material-icons">chevron_right</i>
        </a>
    </div>
    <script src= "../componentes.js"></script> 
    <script src="./js/carrito.js"></script>
</body>
</html>
