<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energizantes</title>
    <link rel="stylesheet" href="../css/estilos.css"/>
</head>
<body>
    <h2 class="categoria"> Energizantes </h2>

    <div id="almacenador">
        <ul class="menu">
            <li>
                <a href="../Bebidas-No-Alcoholicas/BebidasNoAlcoholicas.html">
                    <i class="material-icons">arrow_back</i>Volver
                </a>
            </li>
        </ul>

        <div class="contenido">
            <div class="caja contenedor">
                <img src="../IMAGENES/Energizantes/Monster.png" alt="Monster">
                <p class="nombre">Monster Energy 473 ml</p>
                <p class="precio">S/ 8.00</p>
            </div>
            <div class="contenedor caja">
                <img src="../IMAGENES/Energizantes/RedBull.png" alt="Red Bull">
                <p class="nombre">Reb Bull 355 ml</p>
                <p class="precio">S/ </p>
            </div>
            <div class="contenedor caja">
                <img src="../IMAGENES/Energizantes/Volt.png" alt="Volt">
                <p class="nombre">Energizante Volt 300 ml</p>
                <p class="precio">S/ 2.00 </p>
            </div>
        </div>
    </div>
</body>
</html>
