<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaseosas</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <h2 class="categoria">
        Bebidas No Alcoholicas
    </h2>
    <div id="almacenador">
        <ul class="menu">
            <li class="active">
                Gaseosas
            </li>
            <li>
                <a href="#" ruta="">
                    <i class="material-icons">home</i>
                    Inicio
                </a>
            </li>
            <li>
                <a href="#Gaseosas" ruta="/Bebidas-No-Alcoholicas/BebidasNoAlcoholicas.html">Gaseosas</a>
            </li>
            <li>
                <a href="#Aguas" ruta="/Bebidas-No-Alcoholicas/Aguas.html">Aguas</a>
            </li>
            <li>
                <a href="#Energizantes" ruta="/Bebidas-No-Alcoholicas/Energizantes.html">Energizantes</a>
            </li>
            <li>
                <a href="#Jugos" ruta="/Bebidas-No-Alcoholicas/Jugos.html">Jugos</a>
            </li>
            <li>
                <a href="#Rehidradantes" ruta="/Bebidas-No-Alcoholicas/Rehidratantes.html">Rehidratantes</a>
            </li>
        </ul>

        <div class="contenido">
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Gaseosa2/Fanta3L.webp" alt="Fanta 3L">
                <h2 class="nombre">Gaseosa Fanta 3L</h2>
                <p class="precio">S/ 8.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Gaseosa2/Sprite3l.webp" alt="Sprite 3L">
                <h2 class="nombre">Gaseosa Sprite 3L</h2>
                <p class="precio">S/ 8.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Gaseosa2/Guarana3L.webp" alt="Guaraná 3L">
                <h2 class="nombre">Gaseosa Guaraná 3L</h2>
                <p class="precio">S/ 8.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Gaseosa2/Guarana2L.webp" alt="Guaraná 2L">
                <h2 class="nombre">Gaseosa Guaraná 2L</h2>
                <p class="precio">S/ 5.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Gaseosa2/Fanta1.5L.webp" alt="Fanta 1.5L">
                <h2 class="nombre">Gaseosa Fanta 1.5L</h2>
                <p class="precio">S/ 4.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Gaseosa2/KR1.5L.webp" alt="KR 1.5L">
                <h2 class="nombre">Kola Real Negra 1.5L</h2>
                <p class="precio">S/ 3.50</p>   
                <button class="btn-add-cart add_button">Agregar</button>             
            </div>

            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Gaseosa2/Guarana500Ml.webp" alt="Guaraná 500ml">
                <h2 class="nombre">Gaseosa Guaraná 500ml</h2>
                <p class="precio">S/ 2.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Gaseosa2/Fanta500ml.webp" alt="Fanta 500mL">
                <h2 class="nombre">Gaseosa Fanta 500ml</h2>
                <p class="precio">S/ 1.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Gaseosa2/sprite500ml.webp" alt="Sprite 500mL">
                <h2 class="nombre">Gaseosa Sprite 500ml</h2>
                <p class="precio">S/ 1.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Gaseosa2/Guaranita.webp" alt="Guaranita">
                <h2 class="nombre">Gaseosa Guaranita</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Gaseosa2/KR.webp" alt="Kola Real sabores">
                <h2 class="nombre">Gaseosa Kola Real</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img class="contenedor" src= "./IMAGENES/Gaseosas/Gaseosa2/Viva500ml.webp" alt="Gaseosa Viva">
                <h2 class="nombre">Gaseosa Viva</h2>
                <p class="precio">S/ 1.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>

    <div class="paginacion">
        <a href="#Gaseosas" ruta="/Bebidas-No-Alcoholicas/BebidasNoAlcoholicas.html">
            <i class="material-icons">chevron_left</i>
        </a>
        <a href="#Gaseosas" ruta="/Bebidas-No-Alcoholicas/BebidasNoAlcoholicas.html" class="pagina">1</a>
        <a href="#Gaseosas2" ruta="/Bebidas-No-Alcoholicas/Gaseosas2.html" class="pagina pagina-actual">2</a>
        
    </div>
    <script src="./js/carrito.js"></script>
    <script src= "../componentes.js"></script>
</body>
</html>
