<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugos</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <h2 class="categoria"> Jugos </h2>

    <div id="almacenador">
        <ul class="menu">
            <li>
                <a href="#Gaseosas" ruta="/Bebidas-No-Alcoholicas/BebidasNoAlcoholicas.html"> 
                    <i class="material-icons">arrow_back</i>Volver
                </a>
            </li>
        </ul>

        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Jugos/Valle3L.png" alt="Frugo del valle 3L">
                <p class="nombre">Jugo Frugos del Valle Naranja 3L</p>
                <p class="precio">S/ 8.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Jugos/Valle1.5L.png" alt="Frugo del valle 1.5L">
                <p class="nombre">Jugo Frugos del Valle Naranja 1.5L</p>
                <p class="precio">S/ 4.50</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Jugos/JugoNaranja1L.png" alt="Gloria Jugo de Naranj 1L">
                <p class="nombre">Jugo de Naranja Gloria 1L</p>
                <p class="precio">S/ 4.50</p>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Jugos/Valle500ml.png" alt="Frugos del valle 500ml">
                <p class="nombre">Jugo Frugos del Valle Naranja 500ml</p>
                <p class="precio">S/ 1.50</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Jugos/Cifrut.png" alt="Cifrut">
                <p class="nombre">Jugo cifrut 500ml</p>
                <p class="precio">S/ 1.00</p>
            </div>
        </div>
    </div>
</body>
</html>
