<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rehidratantes</title>
    <link rel="stylesheet" href="../css/estilos.css"/>
</head>
<body>
    <h2 class="categoria">
        Rehidratantes
    </h2>
    
    <div id="almacenador">
       <ul class="menu">
        <li>
            <a href="../Bebidas-No-Alcoholicas/BebidasNoAlcoholicas.html">
                <i class="material-icons">arrow_back</i>Volver
            </a>
        </li>
       </ul>

        <div class="contenido">
            <div class="contenedor caja">
                <img src="../IMAGENES/Rehidratantes/Powerade1.5.png" alt="Powerade 1.5L">
                <p class="nombre">Powerade Mora 1.5L</p>
                <p class="precio">S/ 6.00</p>
            </div>
            <div class="contenedor caja">
                <img src="../IMAGENES/Rehidratantes/Powerade1.L.png" alt="Powerade 1L">
                <p class="nombre">Powerade Mora 1L</p>
                <p class="precio">S/ 4.00</p>
            </div>
            <div class="contenedor caja"> 
                <img src="../IMAGENES/Rehidratantes/Sporade.png" alt="Sporade 1.5L">
                <p class="nombre">Sporade Tropical 1.5L</p>
                <p class="precio">S/ 4.00</p>
            </div>

            <div class="contenedor caja">
                <img src="../IMAGENES/Rehidratantes/Sporade.png" alt="Sporade 500mL">
                <p class="nombre">Sporade Tropical 500ml</p>
                <p class="precio">S/ 2.00</p>
            </div>
            <div class="contenedor caja">
                <img src="../IMAGENES/Rehidratantes/Powerade.png" alt="Powerade 500mL">
                <p class="nombre">Powerade Mora 500ml</p>
                <p class="precio">S/ 2.00</p>
            </div>
            <div class="contenedor caja">
                <img src="../IMAGENES/Rehidratantes/Gatorade.png" alt="Gatorade 500ml">
                <p class="nombre">Gatorade Tropical 500ml</p>
                <p class="precio">S/ 2.50</p>
            </div>
        </div>
    </div>
</body>
</html>
