<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rehidratantes</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <h2 class="categoria">
        Rehidratantes
    </h2>
    
    <div id="almacenador">
       <ul class="menu">
        <li class="active">
            Rehidratantes
        </li>
            <li>
                <a href="#Gaseosas" ruta="/Bebidas-No-Alcoholicas/BebidasNoAlcoholicas.html"> 
                    <i class="material-icons">arrow_back</i>Volver
                </a>
            </li>
       </ul>

        <div class="contenido">
            <div class="contenedor caja">
                <img src= "./IMAGENES/Rehidratantes/Powerade1.5.webp" alt="Powerade 1.5L">
                <h2 class="nombre">Powerade Mora 1.5L</h2>
                <p class="precio">S/ 6.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Rehidratantes/Powerade1.L.webp" alt="Powerade 1L">
                <h2 class="nombre">Powerade Mora 1L</h2>
                <p class="precio">S/ 4.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="contenedor caja"> 
                <img src= "./IMAGENES/Rehidratantes/Sporade.webp" alt="Sporade 1.5L">
                <h2 class="nombre">Sporade Tropical 1.5L</h2>
                <p class="precio">S/ 4.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="contenedor caja">
                <img src= "./IMAGENES/Rehidratantes/Sporade.webp" alt="Sporade 500mL">
                <h2 class="nombre">Sporade Tropical 500ml</h2>
                <p class="precio">S/ 2.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Rehidratantes/Powerade.webp" alt="Powerade 500mL">
                <h2 class="nombre">Powerade Mora 500ml</h2>
                <p class="precio">S/ 2.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="contenedor caja">
                <img src= "./IMAGENES/Rehidratantes/Gatorade.webp" alt="Gatorade 500ml">
                <h2 class="nombre">Gatorade Tropical 500ml</h2>
                <p class="precio">S/ 2.50</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>

    <script src="./js/carrito.js"></script>
</body>
</html>
