<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
    <link rel="stylesheet" href="./css/promociones.css">
</head>
<body>
    <h2 class="categoria"> Promociones </h2>

    <div id="almacenador">
        <ul class="menu">
            <li>
                <a href="#" ruta="">
                    <i class="material-icons">arrow_back</i> Volver
                </a>
            </li>
        </ul>

        <div id="contenido">

            <div class="caja contenedor">
                <img src="./IMAGENES/Promocionales/Mikes/PackMikes.png" alt="2 Pack Mike">
                <h2 class="nombre">Pack 02 Mike Hard Lemonade/Hard Strawberry</h2>
                <p> <span class="rebaja"> S/ 12.00</span>  S/ 11.00</p>
            </div>
        </div>
    </div>
</body>
</html>