<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
    <link rel="stylesheet" href="./css/promociones.css">
</head>
<body>
    <h2 class="categoria"> Resultados </h2>

    <div id="almacenador">
        <ul class="menu">
            <li class="active">Promociones</li>
            <li>
                <a href="#" ruta="">
                    <i class="material-icons">arrow_back</i> Volver
                </a>
            </li>
        </ul>

        <div class="contenido">

            <div class="caja contenedor" data-precio="S/ 11.00">
                <img src="./IMAGENES/Promocionales/Mikes/PackMikes.webp" alt="2 Pack Mike">
                <h2 class="nombre">Mike Hard Lemonade + Hard Strawberry</h2>
                <p class="precio"> 
                    <span class="rebaja"> S/ 12.00</span>  
                    S/ 11.00
                </p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor" data-precio="S/ 54.00">
                <img src="./IMAGENES/Promocionales/Tragos/Something_Special.webp" alt="2 Pack Mike">
                <h2 class="nombre">Whisky Something Special</h2>
                <p class="precio"> <span class="rebaja"> S/ 55.00</span>  S/ 54.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor" data-precio="S/ 19.00">
                <img src="./IMAGENES/Promocionales/Aguas/AguaSG500ML.webp" alt="2 Pack Mike">
                <h2 class="nombre">15 Pack Agua San Luis 500ml</h2>
                <p class="precio"> <span class="rebaja"> S/ 22.50</span>  S/ 19.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor" data-precio="S/ 19.00">
                <img src="./IMAGENES/Promocionales/Aguas/SanLuisCG.webp" alt="2 Pack Mike">
                <h2 class="nombre">15 Pack Agua San Luis Con Gas 500ml</h2>
                <p class="precio"> <span class="rebaja"> S/ 22.50</span>  S/ 19.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor" data-precio="S/ 13.00">
                <img src="./IMAGENES/Promocionales/Aguas/CieloSG.webp" alt="2 Pack Mike">
                <h2 class="nombre">15 Pack Agua Cielo 625ml</h2>
                <p class="precio"> <span class="rebaja"> S/ 15.00</span>  S/ 13.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor" data-precio="S/ 13.00">
                <img src="./IMAGENES/Promocionales/Aguas/AguaCieloCG.webp" alt="2 Pack Mike">
                <h2 class="nombre">15 Pack Agua Cielo Con Gas 625ml</h2>
                <p class="precio"> <span class="rebaja"> S/ 15.00</span>  S/ 13.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>

    <script src="./js/carrito.js"></script>
</body>
</html>