<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito De Compras</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
    <link rel="stylesheet" href="./css/end-shop.css">
</head>
<body>
    <h1>Mi Pedido</h1>

    <div class="contenedor-productos">
        <div class="list-productos">
            <div class="productos">
                <div class="info-productos"></div>
            </div>
        </div>
        
    </div>

    <div id="elements"></div>

    <div class="final">
        <div class="total-carrito">
            <h3>Total: </h3>
            <span class="total">S/ </span>
        </div>
        <a href="https://wa.me/51965000115?text=Hola" class="wsp-link" target="_blank">
            <img class="icono-wsp" src="./IMAGENES/wsp-logo.png" alt="Logo Wsp">
            <span class="wsp-tooltip">Enviar pedido</span>
        </a>
    </div>
    
    

    <script src="./js/carrito.js"></script>
    <script src="./js/end-shopping.js"></script>
</body>
    
</html> 