<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito De Compras</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
    <link rel="stylesheet" href="./css/end-shop.css">
    <link rel="stylesheet" href="./css/responsive_piecero.css">
    <link rel="stylesheet" href="./css/responsive_cabecero.css">
</head>
<body> 
    <h1>Mi Pedido</h1>

    <div class="container-products"> <!--Contenedor de los productos-->
        <div class="fila-productos"> <!--Row Products-->
            <div class="productos"> <!--Productos del carrito-->
                <div class="info-productos"> <!--Datos del producto-->
                </div>
            </div>
        </div>
    </div>

    <div class="final">
        <!--onclick="enviarPedidoPorWhatsApp()"-->
        <a href="#" class="wsp-link">
            <img class="icono-wsp" src="./IMAGENES/wsp-logo.webp" alt="Logo Wsp">
            <span class="wsp-tooltip">Enviar pedido</span>
        </a>
        <div class="total-carrito">
            <h3>Total: </h3>
            <span class="total">S/ </span>
        </div>
    </div>
</body>
</html> 