<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cigarros</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <h2 class="categoria">Cigarros Regulares</h2>

    <div id="almacenador">

        <div class="almacenadorDD">
            <input type="checkbox" id="dropdown">

            <label class="dropdown__face" for="dropdown">
                <div class="dropdown__text">Bebidas Alcohólicas</div>
            
                <div class="dropdown__arrow"></div>
            </label>
            
            <ul class="menu dropdown__items">
                <li class="active">
                    Cigarros
                </li>
                <li>
                    <a href="#" ruta="">
                        <i class="material-icons">home</i> Inicio
                    </a>
                </li>
                <li>
                    <a href="#Cigarros" ruta="/Cigarros/cigarros.html">Cigarros Regulares</a>
                </li>
                <li>
                    <a href="#Vapes" ruta="/Cigarros/vapes.html">Cigarros Electrónicos</a>
                </li>
            </ul>
        </div>

        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/PallMallConvertible.webp" alt="Pall Mall Convertible">
                <h2 class="nombre">Cigarro Pall Mall Convertible 1und</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/LuckyMoraUnidad.webp" alt="Lucky Strike Mora">
                <h2 class="nombre">Cigarro Lucky Strike Mora 1und</p>
                <p class="precio">S/ 1.20</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/LuckySandiaUnidad.webp" alt="Lucky Strike Sandia">
                <h2 class="nombre">Cigarro Lucky Strike Sandia 1und</p>
                <p class="precio">S/ 1.20</p>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/LM.webp" alt="LM">
                <h2 class="nombre">Cigarro L&M Fusion 1und</p>
                <p class="precio">S/ 0.80</p>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/PallMallConvertible.webp" alt="Pall Mall Convertible">
                <h2 class="nombre">Cajetilla Cigarro Pall Mall Convertible</h2>
                <p class="precio">S/ 8.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/LuckyMoraUnidad.webp" alt="Lucky Strike Mora">
                <h2 class="nombre">Cajetilla Cigarro Lucky Strike Mora</h2>
                <p class="precio">S/ 12.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/LuckySandiaUnidad.webp" alt="Lucky Strike Sandia">
                <h2 class="nombre">Cajetilla Cigarro Lucky Strike Sandia</h2>
                <p class="precio">S/ 12.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
    
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/LM.webp" alt="LM">
                <h2 class="nombre">Cajetilla Cigarro L&M Fusion</h2>
                <p class="precio">S/ 8.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>

    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
