<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cigarros</title>
    <link rel="stylesheet" href="./css/estilos.css"/>
</head>
<body>
    <h2 class="categoria">Cigarros Por Unidad</h2>

    <div id="almacenador">
        <ul class="menu">
            <li class="active">
                Cigarros
            </li>
            <li>
                <a href="#" ruta="">
                    <i class="material-icons">home</i> Inicio
                </a>
            </li>
            <li>
                <a href="#" ruta="/Cigarros/cigarros.html">Cigarros Regulares</a>
            </li>
            <li>
                <a href="#Vapes" ruta="/Cigarros/vapes.html">Cigarros Electrónicos</a>
            </li>
        </ul>

        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/PallMallConvertible.jpeg" alt="Pall Mall Convertible">
                <p class="nombre">Cigarro Pall Mall Convertible 1und</p>
                <p class="precio">S/ 1.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/LuckyMoraUnidad.png" alt="Lucky Strike Mora">
                <p class="nombre">Cigarro Lucky Strike Mora 1und</p>
                <p class="precio">S/ 1.20</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/LuckySandiaUnidad.png" alt="Lucky Strike Sandia">
                <p class="nombre">Cigarro Lucky Strike Sandia 1und</p>
                <p class="precio">S/ 1.20</p>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/LM.jpeg" alt="LM">
                <p class="nombre">Cigarro L&M Fusion 1und</p>
                <p class="precio">S/ 0.80</p>
            </div>
        </div>
    </div>

    <h2 class="categoria">Cigarros por Cajetilla</h2>

    <div id="almacenador">
        <ul class="menu"></ul>
        <div class="contenido">
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/PallMallConvertible.jpeg" alt="Pall Mall Convertible">
                <p class="nombre">Cajetilla Cigarro Pall Mall Convertible</p>
                <p class="precio">S/ 8.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/LuckyMoraUnidad.png" alt="Lucky Strike Mora">
                <p class="nombre">Cajetilla Cigarro Lucky Strike Mora</p>
                <p class="precio">S/ 12.00</p>
            </div>
            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/LuckySandiaUnidad.png" alt="Lucky Strike Sandia">
                <p class="nombre">Cajetilla Cigarro Lucky Strike Sandia</p>
                <p class="precio">S/ 12.00</p>
            </div>

            <div class="caja contenedor">
                <img src= "./IMAGENES/Cigarros/LM.jpeg" alt="LM">
                <p class="nombre">Cajetilla Cigarro L&M Fusion</p>
                <p class="precio">S/ 8.00</p>
            </div>
        </div>
    </div>
</body>
    <script src= "../componentes.js"></script>
</html>
