<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vapes</title>
    <link rel="stylesheet" href="/css/estilos.css"/>
</head>
<body>
    <div id="almacenador">

        <div class="almacenadorDD">
            <input type="checkbox" id="dropdown">

            <label class="dropdown__face" for="dropdown">
                <div class="dropdown__text">Bebidas Alcohólicas</div>
            
                <div class="dropdown__arrow"></div>
            </label>
            
            <ul class="menu dropdown__items">
                <li class="active">
                    Cigarros Electrónicos
                </li>
                <li>
                    <a href="#Cigarros" ruta="/Cigarros/cigarros.html">
                        <i class="material-icons">arrow_back</i>Volver
                    </a>
                </li>
            </ul>
        </div>

        <div class="contenido">
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/Peppermint500puff.webp" alt="Peppermint 500 puffs">
                <h2 class="nombre">Vuse Go  Peppermint Ice 500puffs</h2>
                <p class="precio">S/ 25.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/Peppermint1500puff.webp" alt="Peppermint 1500 puffs">
                <h2 class="nombre">Vuse Go  Peppermint Ice 1500puffs</h2>
                <p class="precio">S/ 35.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/WatermelonIce500puffs.webp" alt="Watermelon 500 puffs">
                <h2 class="nombre">Vuse Go  Watermelon Ice 500puffs</h2>
                <p class="precio">S/ 25.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/WatermelonIce1500puffs.webp" alt="Watermelon 1500 puffs">
                <h2 class="nombre">Vuse Go  Watermelon Ice 1500puffs</h2>
                <p class="precio">S/ 35.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/StrawberryIce500puffs.webp" alt="Strawberry Ice 500 puffs">
                <h2 class="nombre">Vuse Go Strawberry Ice 500puffs</h2>
                <p class="precio">S/ 25.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/StrawberryIce1500puffs.webp" alt="Strawberry Ice 1500 puffs">
                <h2 class="nombre">Vuse Go Strawberry Ice 1500puffs</h2>
                <p class="precio">S/ 35.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/BlueberryIce500puff.webp" alt="Blueberry Ice 500 puffs">
                <h2 class="nombre">Vuse Go Blueberry Ice 500puffs</h2>
                <p class="precio">S/ 25.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/BlueberryIce1500puff.webp" alt="Blueberry Ice 1500 puffs">
                <h2 class="nombre">Vuse Go Blueberry Ice 1500puffs</h2>
                <p class="precio">S/ 35.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/CreamyTobacco500fpuffs.webp" alt="Creamy Tobacco 500puffs">
                <h2 class="nombre">Vuse Go Creamy Tobacco 500puffs</h2>
                <p class="precio">S/ 15.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>

            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/GrapeIce500puffs.webp" alt="Grape Ice 500 puffs">
                <h2 class="nombre">Vuse Go Grape Ice 500puffs</h2>
                <p class="precio">S/ 20.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/GrapeIce1500puffs.webp" alt="Grape Ice 1500 puffs">
                <h2 class="nombre">Vuse Go Grape Ice 1500puffs</h2>
                <p class="precio">S/ 35.00</p>
                <button class="btn-add-cart add_button">Agregar</button>
            </div>
        </div>
    </div>

    <script src= "../componentes.js"></script>
    <script src="./js/carrito.js"></script> 
</body>
</html>
