<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vapes</title>
    <link rel="stylesheet" href="/css/estilos.css"/>
</head>
<body>
    <div id="almacenador">
        <ul class="menu">
            <a href="/Cigarros/cigarros.html">
                <i class="material-icons">arrow_back</i>Volver
            </a>
        </ul>

        <div class="contenido">
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/Peppermint500puff.jpeg" alt="Peppermint 500 puffs">
                <p class="nombre">Vaper Electronico Vuse Go Peppermint Ice 500puffs</p>
                <p class="precio">S/ 25.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/Peppermint1500puff.jpeg" alt="Peppermint 1500 puffs">
                <p class="nombre">Vaper Electronico Vuse Go Peppermint Ice 1500puffs</p>
                <p class="precio">S/ 35.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/WatermelonIce500puffs.jpeg" alt="Watermelon 500 puffs">
                <p class="nombre">Vaper Electronico Vuse Go Watermelon Ice 500puffs</p>
                <p class="precio">S/ 25.00</p>
            </div>
            
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/WatermelonIce1500puffs.jpeg" alt="Watermelon 1500 puffs">
                <p class="nombre">Vaper Electronico Vuse Go Watermelon Ice 1500puffs</p>
                <p class="precio">S/ 35.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/StrawberryIce500puffs.jpeg" alt="Strawberry Ice 500 puffs">
                <p class="nombre">Vaper Electronico Vuse Go Strawberry Ice 500puffs</p>
                <p class="precio">S/ 25.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/StrawberryIce1500puffs.jpeg" alt="Strawberry Ice 1500 puffs">
                <p class="nombre">Vaper Electronico Vuse Go Strawberry Ice 1500puffs</p>
                <p class="precio">S/ 35.00</p>
            </div>

            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/BlueberryIce500puff.jpeg" alt="Blueberry Ice 500 puffs">
                <p class="nombre">Vaper Electronico Vuse Go Blueberry Ice 500puffs</p>
                <p class="precio">S/ 25.00</p>
            </div>
            <div class="caja contenedor">
                <img src="/IMAGENES/Cigarros/Vapes/BlueberryIce1500puff.jpeg" alt="Blueberry Ice 1500 puffs">
                <p class="nombre">Vaper Electronico Vuse Go Blueberry Ice 1500puffs</p>
                <p class="precio">S/ 35.00</p>
            </div>
        </div>
    </div>
</body>
    <script src= "../componentes.js"></script>
</html>
